[2016-07-19 21:43] tintoy opened #1 "Acceptance tests for ddcloud_server (disk)"
More acceptance tests are required for the `ddcloud_server` resource type (specifically, server disks).
- [x] Create with image disk
  - [x] No change to image disk size (should succeed)
  - [x] Grow image disk (should succeed)
- [x] Create with 1 additional disk (should succeed)

Work is being done in branch [feature/acc-test-server-disk](/DimensionDataResearch/dd-cloud-compute-terraform/tree/fea

[2016-07-19 21:50] tintoy commented on #1
Work is being done in branch [feature/acc-test-server-disk](/DimensionDataResearch/dd-cloud-compute-terraform/tree/feature/acc-test-server-disk).

[2016-08-23 02:30] tintoy opened #3 "Acceptance tests for ddcloud_firewall_rule"
- [x] Create
  - [x] IPv4
    - [x] IP
      - [x] Any host to Any host
      - [x] Network to any host
    - [x] TCP
      - [x] Port 80, Any host to Any host
    - [x] ICMP
      - [x] Any to Any host to any host
      - [x] Network to any host
  - [x] IPv6
    - [x] IP
      - [x] Test Address to Any host
    - [x] TCP
      - [x] Port 80, Any host to Any host
    - [x] ICMP
      - [x] Any hos

[2016-08-23 02:32] #1 closed, assigned to tintoy

[2016-08-23 02:32] tintoy opened #4 "Acceptance tests for ddcloud_nat"
- [ ] Create

[2016-08-23 02:33] tintoy opened #5 "Acceptance tests for ddcloud_server (tags)"

[2016-08-23 02:34] tintoy opened #6 "Acceptance tests for ddcloud_vip_node"
- [x] Create
- [x] Update

[2016-08-23 02:35] tintoy opened #7 "Acceptance tests for ddcloud_vip_pool"
- [x] Create
- [x] Update regular properties (in-place)
- [x] Update name (destroy-and-recreate)

[2016-08-23 02:35] tintoy opened #8 "Acceptance tests for ddcloud_vip_pool_member"
- [x] Create

[2016-08-23 02:36] tintoy opened #9 "Documentation for ddcloud_vip_pool"

[2016-08-23 02:36] tintoy opened #10 "Documentation for ddcloud_vip_pool_member"

[2016-08-23 02:39] tintoy opened #11 "Handle RESOURCE_BUSY responses from CloudControl API"
Sometimes CloudControl will indicate a transient problem due to resource contention by returning `RESOURCE_BUSY`. If that happens we should be able to retry operations.

For example, deploying a VLAN while another VLAN is being deployed for the same organisation will result in `RESOURCE_BUSY`. The provider should be able to retry the operation until it succeeds or times out.

- [x] Retry mechanism

[2016-08-23 02:50] tintoy opened #12 "Acceptance tests for ddcloud_virtual_listener"
- [ ] Create
- [ ] Update

[2016-08-23 02:50] tintoy opened #13 "Documentation for ddcloud_virtual_listener"

[2016-08-25 22:19] #3 closed, assigned to tintoy

[2016-08-25 22:45] tintoy commented on #4
Acceptance tests for NAT rules will take too long to implement for now (requires NetworkDomain, VLAN, **and Server**. They can be added after release.

[2016-08-25 22:45] #4 closed, assigned to nobody

[2016-08-25 23:14] #6 closed, assigned to tintoy

[2016-08-25 23:42] #7 closed, assigned to tintoy

[2016-08-26 00:19] #12 closed, assigned to nobody

[2016-08-26 01:59] #5 closed, assigned to nobody

[2016-09-07 00:31] tintoy opened #14 "Automatically create tag keys if they do not exist"
Add a `ddcloud` provider configuration option called `autocreate_tag_keys`.
If `true`, then when applying a tag to a server, create the requisite tag key if it does not exist.

Do not delete the tag key when removing the server or tag.

[2016-09-15 21:31] #13 closed, assigned to nobody

[2016-09-15 21:31] #9 closed, assigned to nobody

[2016-09-15 21:31] #10 closed, assigned to nobody

[2016-09-15 21:33] tintoy opened #15 "Data Source - ddcloud_networkdomain"
This is similar to the `ddcloud_networkdomain` [resource](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.0/vendor/ddcloud/resource_networkdomain.go), except that it's a read-only [data source](https://www.terraform.io/docs/configuration/data-sources.html) that looks up a network domain's details by name and data centre.

For an example of a Terraform data-s

[2016-09-15 21:34] tintoy opened #16 "Data Source - ddcloud_image"
Enables lookup of an OS or customer image by name and data centre.
- [ ] OS Image
- [ ] Customer Image

[2016-09-15 21:35] tintoy commented on #16
Does this then mean that `ddcloud_server` will only have image Id and image type fields? Probably better not to double up on functionality.

[2016-09-22 22:58] wninobla opened #18 "dd_cloud_vip_pool - How do you assign nodes to the pool?"
I was reading the documentation so unless its not documented I have no way to add nodes that are defined with ddcloud_vip_node to the ddcloud_vip_pool resource command.  Is this missing or just not documented?

[2016-09-22 23:15] tintoy commented on #18
Sorry, my bad - it _is_ documented but the [page](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.0/docs/resource_types/vip_pool_member.md) is not linked from the [main documentation page](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/tree/development/v1.0/docs).

I'll get that sorted out.

[2016-09-22 23:18] #18 closed, assigned to nobody

[2016-09-22 23:19] tintoy commented on #18
Thanks for reporting that - I've added the missing link to the documentation index.

[2016-09-22 23:41] wninobla commented on #18
Great - thanks!  Now I can test that part of my integration.  All the other stuff I got working.  I didn't write it out to a plan first so after I did errors magically went away...

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data

---

From: Adam Friedman notifications@github.com
Sent: Thursday, September 22, 2016 4:19 PM
To: DimensionDataResearch/dd-cloud-comp

[2016-09-23 00:25] wninobla opened #19 "ddcloud_virtual_listener - When specifying this resource the firewall rule can't find attrubute"
I am writing code similar to the NAT section in that I want to grab the assigned IP address (public in this case though it can be private if I specify it as an option) and assign it to a firewall rule.  The bottom section of my code is as follows:

[code]

It errors out with this in my shell session:

[code]

The documentation doesn't specify what the attribute is so is there one or do I call some

[2016-09-23 00:38] tintoy commented on #19
I believe this was just fixed in #17, but it won't be available until the end of the month. Can you use an explicit IP address for the listener instead for now?

[2016-09-23 00:47] wninobla commented on #19
I'll look at #17 for my own curiosity.  But yeah for now I can do it explicitly and do an internal range as I'm just testing.  Once the code is committed for use I'll change my stuff.  Thanks!

[2016-09-23 00:48] tintoy commented on #19
I'll push out a hotfix later today.

[2016-09-23 00:50] #8 closed, assigned to tintoy

[2016-09-23 00:58] tintoy commented on #19
Ok, @wninobla, can you download the [latest hotfix](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.0.1) and let me know if that fixes your problem?

The property is called "ipv4".

[2016-09-23 01:10] wninobla commented on #19
Ok let me give it a go after I eat something. 😊

[2016-09-23 01:40] wninobla commented on #19
OK, I uploaded the hotfix into the terraform folder and reran the code I'm using and still same error.  I tried it with both public_ipv4 and ipv4 as the attribute:

[code]

Maybe its called something else?  I am not sure what the property reference is but its not working for me.  The line I edited was this one:

`destination_address = "${ddcloud_vip_pool.www_pool.public_ipv4}"`

  AND

`destinatio

[2016-09-23 01:42] tintoy commented on #19
Isn't the IPv4 address on the listener, not the pool?

[2016-09-23 01:43] tintoy commented on #19
Yep, that'd be it. Pools don't have an address; the virtual listener that uses the pool has the address.

[2016-09-23 01:44] wninobla commented on #19
Nevermind - I was calling the wrong resource type - its ddcloud_virtual_listener and not ddcloud_vip_pool.  That's what happens when I don't focus and eat first...

[2016-09-23 01:44] wninobla commented on #19
Ah - answered at the same time.  Anyhow, it appears to work now.  I am going to run it and see what happens.  If it completes I will close this one out.  Thanks!

[2016-09-23 01:45] tintoy commented on #19
Here's a working configuration I've been testing with:

[code]

[2016-09-23 01:45] tintoy commented on #19
Oops! :)

[2016-09-23 01:47] wninobla commented on #19
For completeness sake here is what I am current at in the .tf file:

[code]

[2016-09-23 01:50] wninobla commented on #19
...and yes I know my password is embedded in there.  Call me lazy but I wanted to make this work first.  It'll change again after I disable this and work on how to pass the argument as a variable either at the command line or setting it as a variable which I thought I saw an example for in here somewhere.  In any case I just ripped it out. =)

[2016-09-23 02:13] wninobla commented on #19
OK last update for the evening so I can rest my eyes.  So, the code looks like it works.  I have a minor issue with inserting the second node but I think it was just a fat finger of the pool reference.  In any case, the one last thing I'll report is that on 2 different occasions when spinning up a Windows host the plan check pulls out what looks to be changes to the VM which causes it to be delete

[2016-09-23 02:24] tintoy commented on #19
Interesting - it looks like the DNS settings for the server have changed (either in config or state).

Would you mind creating a separate issue for that one? It'll just make it easier if we have one item per issue (or I might lose track of things).

I'm closing this issue then, but feel free to reopen it if I've misunderstood.

[2016-09-23 02:24] #19 closed, assigned to tintoy

[2016-09-23 02:28] wninobla commented on #19
Yeah - it just finished and the error on the lb add was this:

[code]

Re-running it after it allowed it to join just fine.  Makes me think it foobared when trying to add both items at the same time.  I will maybe change the dependency on it though I am unsure how to tell it check to ensure another node is in the pool first before adding the next node in.  Rather weird...

[2016-09-23 02:29] tintoy commented on #19
By the way, @wninobla, did you know you can use [Terraform's "count" property](https://www.terraform.io/docs/configuration/interpolation.html#using-templates-with-count) on resources to make [multiple instances of the same resource](https://github.com/DimensionDataResearch/ddcloud-docker-swarm/blob/master/terraform/ddcloud-docker-swarm.tf#L61)?

[2016-09-23 02:34] wninobla opened #20 "ddcloud_server anomaly - Adding Windows host doesn't render all properties causing host to be deleted on a reapply"
Hi,

So, I have noticed on a few occasions where building a Windows server is fine.   But, when reapplying a profile to fix a few things that were missed I see the host getting deleted and re-added.  In the plan execution I get the following:

[code]

When I run the terraform state show on that server at the command line I get the following:

[code]

Running the same command yields the correct res

[2016-09-23 02:34] tintoy commented on #19
Ah, yes, sorry I have seen that one before.

It's because you can't have 2 operations modifying pool memberships in a network domain at the same time (a CloudControl limitation). The problem is that CloudControl returns UNEXPECTED_ERROR when they really mean RESOURCE_BUSY. We _will_ be modifying the `ddcloud` provider to only process 1 membership (per network domain) at a time, sometime in the nex

[2016-09-23 02:36] tintoy commented on #19
(and you don't need to care if another node is already in the pool)

[2016-09-23 02:38] wninobla commented on #19
Cool on the counts for terraform.  I am still learning as I just picked it up today withno reading really of the documentation.  Not bad eh.

On the VIP pool adds makes sense.  I can make it serial as you say as I didn't think about that even though thats what I am doing on the other ones... duh!

[2016-09-23 03:18] tintoy commented on #19
I had to figure it out the hard way; the docs do **not** tell you that :)

[2016-09-23 03:19] tintoy commented on #20
Hmm, that is odd. Our provider doesn't actually understand the difference between a Windows and a Linux server (it treats them both the same).

Are you able to attach the full configuration you're using? I'll see if I can reproduce the problem.

[2016-09-23 03:40] wninobla commented on #20
Here it is...  Latest version.  I left the password out so you can use your own. =)

[deploydemo  - code.txt](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/files/488822/deploydemo.-.code.txt)

[2016-09-23 03:44] wninobla commented on #20
BTW, a new clean run went off without a hitch.  I checked the Windows host and the values were there.  Maybe I'll set the debug on next time but for now I didn't get the error I saw last time.

[2016-09-23 09:57] tintoy commented on #20
Hmm, this worked for me too.

Since I can't reproduce the problem (and it's not happening to you either) I'm going to close this issue but feel free to reopen it if you disagree or hit the issue again.

Either way, thanks for taking the time to report it :)

[2016-09-23 09:59] #20 closed, assigned to tintoy

[2016-09-23 10:23] wninobla commented on #20
Yeah, I think it's when it fails where the problem gets interesting.  If it comes up again I'll report it.  Thanks!

[2016-09-23 10:26] wninobla opened #21 "Request for Enhancement - Reference to add Public IPv4 blocks"
Hi,

Looking to add/remove separately IPv4 public addresses.  We have customers like Sonata who add multiple IP's based on how their application needs dictate.  Is there a method not documented that allows this?

[2016-09-23 16:03] wninobla opened #22 "Request for Enhancement - Reference to add firewall acl's via ip and port lists"
Hi,

I was looking to consume more granular firewall rules so I can insert servers into port group lists and ip lists.  Is that already a feature or something that needs developing?

[2016-09-23 18:24] wninobla opened #23 "Request for Enhancement - Access to enable services including BaaS and MaaS"
Hi,

Looking to see if we can enable these services or not.  The resources aren't defined in the docs so I am guessing this is a net new ask?  Do let me know where this one sits in development.  Thanks.

[2016-09-23 18:25] wninobla opened #24 "Server anti-affinity support"
Hi,

Looking to consume the server anti-affinity rules here.  Let me know if this is in development or not.  Thanks!

[2016-09-24 18:04] wninobla opened #25 "Request for Enhancement - Add functionality to ignore creation of resource if exists"
Hi,

So, I ran into the dreaded state issue with Terraform (I accidentally deleted the state files and the resulting apply command wouldn't let me delete stuff since it thought it was new).  So...  I was wondering is there a way to create infrastructure in that either:

1) It ignores resources already in the architecture based on an existing plan as opposed to relying on the initial terraform buil

[2016-09-26 10:25] tintoy commented on #21
Ah, I was wondering if anyone would ask about this :)

The way it works currently is that creating a NAT rule (which gets the first available public IP address) will auto-allocate a public IP block if there are no free IP addresses available at deploy time.

I avoided exposing IP blocks directly because, at the time you're writing the Terraform configuration, you don't know how many addresses you'

[2016-09-26 10:30] tintoy commented on #25
I'll have to think about this; Terraform isn't really meant to work like this (since the Ids for CloudControl entities are unique but other properties such as name may not be). Terraform v.07 introduced a new [import](https://www.terraform.io/docs/import/) facility we don't support yet but once we do I believe this will give you what you need.

For now, can I suggest [using Amazon S3 or similar to

[2016-09-26 10:33] tintoy commented on #25
@wninobla, I've created a [Milestone](../milestone/5) to track the progress of the state-import facility. I'll create issues under that to track the work on this as it happens (may be a little while before I get to it due to time and resource constraints, but it's totally doable).

[2016-09-26 10:38] tintoy commented on #22
The underlying support is there (in the CloudControl client for Go), but our Terraform provider doesn't expose it yet.

Should be fairly simple to implement, just didn't have time to do it for v1.0.

I'll create some backlog items for this on Wednesday (probably a v1.1 timeframe, so at least a couple of weeks out depending on scheduling).

[2016-09-26 10:43] tintoy commented on #23
Hi - originally, I considered these to be out of scope for being managed by Terraform; I've tried to be mindful of not putting stuff into Terraform that doesn't belong there (i.e. configuration that's likely to be changed by other non-Terraform methods after deployment).

Having said that, several people have asked for this now, so I'll have a chat to @BenObermayer later this week and see what we

[2016-09-26 10:45] tintoy commented on #24
Currently this wasn't even on the roadmap (i.e. I don't even know what's involved in implementing it), but I'll add an item to our backlog to investigate it.

Level of priority?

[2016-09-26 16:36] wninobla commented on #21
OK, reading it in that way it makes sense.  I think it is however a fundamental design choice in how terraform will be used in the future.  If for instance we add new IP's based on the current methodology, it works out OK.  But, if we're using this more as a configuration tool where we "reassign a NAT address" to something else, we may be in or out of scope in how Terraform is currently used to bu

[2016-09-26 16:37] wninobla commented on #22
OK cool.  I see this being a problem for really big environments where it'll be easier to reference a list vs. writing individual rules.  I will close this oen for now since you're tracking it in a different ticket.  Thanks!

[2016-09-26 16:37] #22 closed, assigned to nobody

[2016-09-26 16:38] wninobla commented on #23
Priority wise, I'd say MaaS is more of an issue since the auto scaling is tied to that.  Then BaaS afterwards since I agree with you in that its more of a manual configuration item.

[2016-09-26 16:41] wninobla commented on #24
I would say since we tie SLA's to it we'll want to mark this at least as a minimum if not a high only because we don't necessarily do containers fully just yet.  nothing is considered a throw away yet so we need to provide some fault tolerance here at the VM level.

[2016-09-26 16:44] wninobla commented on #25
OK, yeah was raising it more of an issue.  I can see people wanting to say photocopy or blueprint an existing environment and then using the resulting .tf/.plan file to execute a DR copy or the like.  OI course we can have them do it by hand by providing a count function and just using the different sections with variables but not everyone is terraform snazzy like you... =)

On that note, I will l

[2016-09-26 19:21] tintoy commented on #21
Hmm, let me have a think about this and get back to you...

[2016-09-26 19:24] tintoy commented on #24
Ok - duly noted, will put this near the top of the pile :)

[2016-09-26 19:26] tintoy commented on #25
If you are duplicating an existing environment then you'd share config (.tf) rather than state (.tfstate), no?

[2016-09-26 20:05] wninobla commented on #25
This one is for say an IT admin who wants to help suck his/her infrastructure into the cloud as part of an DR strategy just in case the office equipment dies.  I'd say its more of a niche case but all the same an IT admin will use whatever is easiest to roll out their infrastructure whether its terraform or something else.

[2016-09-26 20:23] tintoy commented on #25
Ok - yes the import facility should be able to handle that :)

[2016-09-27 00:13] BenObermayer commented on #23
Monitoring is an on / off flag so it should be pretty easy to be part of the deployment even though it needs to happen after the server has been deployed.

Backup is a little more complicated as it has an on / off flag, but you then also need to download and install the backup client on the server.  I don't think this later portion can be done by Terraform.  You would need to use a tool like ansib

[2016-09-27 00:15] BenObermayer commented on #24
It's one API to enable with the 2 server IDs, so should be pretty simple to add.

[2016-09-27 00:33] tintoy commented on #23
Ok that sounds pretty doable. I'll split this out into 2 separate issues (one for MaaS, and one for BaaS).

[2016-09-27 00:34] tintoy opened #26 "Add cloud backup (BaaS) support to ddcloud_server"
Server backup configuration will be modelled as a set of separate resource types (`ddcloud_server` resource type is already pretty heavy).

- [x] Backup support for [CloudControl API client](https://github.com/DimensionDataResearch/go-dd-cloud-compute/issues/1)
- [x] `ddcloud_server_backup` resource type
  - [x] Implementation
    - [x] Enable / disable backup
    - [x] Modify service plan
    - [

[2016-09-27 00:35] tintoy opened #27 "Add monitoring (MaaS) support to ddcloud_server"
- [ ] Monitoring support for [CloudControl API client](https://github.com/DimensionDataResearch/go-dd-cloud-compute/issues/2)
- [ ] `ddcloud_server` changes to expose monitoring-related properties
  - [ ] Implementation
  - [ ] Integration tests (create, update, etc)

[2016-09-27 00:36] tintoy commented on #23
Moved to #26 and #27.

[2016-09-27 00:36] #23 closed, assigned to nobody

[2016-09-27 00:36] wninobla commented on #23
For MaaS would you then create the auto scale features there or attach it to a separate resource call?

[2016-09-27 00:37] tintoy commented on #23
Don't know anything about the auto-scaling stuff at this stage, I'll have to do some research and get back to you...

[2016-09-27 00:40] wninobla commented on #23
Yeah they are values on another tab in the MaaS stuff that the VM team wrote.  Hopefully its an easy conversion?

[2016-09-27 00:44] tintoy commented on #23
I'll have a look and let you know :)

[2016-09-27 00:45] tintoy opened #28 "Auto-scaling support"
See what CloudControl supports, and what'd be involved in supporting it.

[2016-09-27 00:46] tintoy commented on #23
Will track this in #28.

[2016-09-27 00:47] tintoy opened #29 "State import support"
This issue tracks overall progress of support for Terraform's new state import facility.

[2016-09-27 00:48] tintoy commented on #25
Tracked via #29.

[2016-09-27 00:48] #25 closed, assigned to nobody

[2016-09-27 12:21] tintoy commented on #24
Work remaining:
- [x] CloudControl API client
  - [x] Unit tests
- [ ] ddcloud_anti_affinity_group resource type
  - [ ] Acceptance tests
  - [ ] Documentation

[2016-09-28 00:52] tintoy commented on #24
Looks to be pretty simple, so hopefully I can knock this one off today.

[2016-09-28 03:00] tintoy opened #30 "Port list support"
- [x] `ddcloud_port_list` resource type
  - [x] Documentation
  - [x] Integration tests
- [x] `ddcloud_firewall_rule` support for specifying port list Id
  - [x] Documentation
  - [x] Integration tests

[2016-09-28 03:01] tintoy opened #31 "Address list support"
- [x] `ddcloud_firewall_address_list` resource type
  - [x] Documentation
- [x] `ddcloud_firewall_rule` support for specifying address list Id
  - [x] Documentation

[2016-09-28 03:02] tintoy commented on #22
Tracked via #30 and #31.

[2016-09-28 04:18] tintoy commented on #24
Just waiting for last run of automated acceptance tests...

[2016-09-28 05:21] #24 closed, assigned to tintoy

[2016-09-28 22:47] tintoy opened #33 "Additional NIC support for servers"
Because all properties of CloudControl's representation of a NIC can be changed after deployment they cannot (unlike, say, server disks) be declared as items on a server. Instead, they need to be a separate resource type so their life-cycle can be separately tracked.

Implement a `ddcloud_server_nic` resource type that adds a NIC to a `ddcloud_server`.
In much the same way as we currently have a [

[2016-09-28 22:50] wninobla commented on #33
For this one I'm sure you already know but the initial NIC is defined as the primary NIC and may not be deleted once the box is instantiated for its lifetime.  All other NICs are subject to any and all changes.  Just my two cents worth whether you needed it or not... =)

[2016-09-28 22:53] tintoy commented on #33
@wninobla thanks! Always good to get real-world feedback 👍

This is definitely only for additional NICs, the primary one will continue to be declared directly on the `ddcloud_server` resource.

[2016-09-28 22:56] wninobla commented on #33
Great!  I look forward to all the innovation I'm stirrng up.  =)  Now if I can start to level up my ansible and get the CI stuff up and running thereafter I'll feel like a IT devops dude...

[2016-09-29 08:04] tintoy opened #35 "Create Vagrantfile for build environment"
This will enable people on Windows to build the provider, too.

[2016-09-29 08:16] #35 closed, assigned to tintoy

[2016-10-03 17:22] wninobla opened #36 "Question - Easy way to pull master list of attributes for Terraform objects?"
Hi,

Is there an easy way to pull all of the live attributes that are associated with a resource so that I can get more granular in what I choose as a variable or the like?  Is it in the API guide or is this a subset of items that are unique to Terraform and the DD plugin?  Please advise as I'd rather be able to iterate a list out for testing or have a document on the same vs. guessing.  That is t

[2016-10-03 19:04] wninobla commented on #28
Tested this one in the terraform code I have and it works just fine.  Thanks for the addition!

[2016-10-04 05:57] #28 closed, assigned to nobody

[2016-10-04 18:09] wninobla opened #37 "Add "cores per socket" and "cpu speed" features to ddcloud_server resource"
Hi,

I was looking at the attributes in building my Terraform script and noted that the resource ddcloud_server has no reference to manipulate CPU cores - only cpuCount.  I see the following in the XML example on page 268 in v2.3 of the API documentation:

[code]

I would propose we add both coresPerSocket and cpuSpeed to get this in more of an automated deployment.  We can alternatively set it on

[2016-10-06 03:08] tintoy commented on #37
Hi.

Yep, this is an easy one to implement (just didn't have time to put it into the initial release).
- [x] Implementation
  - [x] `cores_per_cpu`
  - [x] `cpu_speed`
- [x] Documentation for additional attributes

[2016-10-06 03:10] tintoy commented on #36
Do you mean what attributes are available to set for each resource `ddcloud` resource type?

[2016-10-06 03:11] tintoy commented on #36
If so, [the documentation](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/tree/development/v1.0/docs) for a specific resource type should be your first port-of-call (but [let us know](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/issues/new) if you find something missing).

[2016-10-06 03:40] wninobla commented on #36
Well yes and no.  You have the documents do I can read that.  I was thinking of objects I can use to use variables on.  I can call I think terraform show as that'll dump what it sees on an object.  That'll do for now...

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data

---

From: Adam Friedman [notifications@github.com]
Sent: Wednesday, October 5, 2016 8:10 PM

[2016-10-06 04:01] tintoy commented on #36
Sorry, I’m not sure I understand what you’re asking - when you say objects you can use variables on, do you mean what sort of expressions are valid as values for attributes of resources?

[2016-10-06 05:25] wninobla commented on #36
Its the latter...  I think I got it figured out though.  I should have said attributes for the resulting objects Terraform creates (i.e. the underlying cloud control VM's, networks, VIP's etc.)  Sorry, my brain isn't working too well... =)  Anyhow, I think I have a handle on it for now as I figured out that when you use counts the name of the object gets appended with the variable key.  I was find

[2016-10-06 05:40] tintoy commented on #36
Sorry I get it now :)

Later, I'll post a link to our Terraform configuration for Mantl - it has examples of stuff like that.

[2016-10-06 05:40] tintoy commented on #36
Also, see the section in Terraform docs on interpolation syntax in config. Element function may do what you want.

[2016-10-06 05:41] wninobla commented on #36
OK cool.  In the meantime once I get the other content updated (along with the naming) I'll post the simple examples on the counts I did.  Not terribly complicated but it was a pain to figure out.  Only took a few hours though...

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data

---

From: Adam Friedman notifications@github.com
Sent: Wednesday, October 5, 2016

[2016-10-06 05:43] wninobla commented on #36
Yeah I saw that but that didn't work as I expected since in some cases I needed a string vs. dynamically forming a variable.  What I need to do is to write a template and then output the new variable for stuff like depends_on for instance.  But, as I get better at that all I'll get more snazzy.

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data

---

From: Adam F

[2016-10-17 07:36] tintoy commented on #33
Implemented as `ddcloud_server_nic` resource type.

[2016-10-17 07:36] #33 closed, assigned to nobody

[2016-10-17 23:43] #15 closed, assigned to tintoy

[2016-10-17 23:44] tintoy commented on #36
Ok, @wninobla - is this issue resolved, now that we've merged the samples link?

[2016-10-19 02:19] #30 closed, assigned to tintoy

[2016-10-19 02:19] tintoy commented on #30
Also added support for port ranges (low-hanging fruit).

[2016-10-19 03:35] #31 closed, assigned to tintoy

[2016-10-19 03:35] #36 closed, assigned to nobody

[2016-10-19 03:35] tintoy commented on #36
Closing for now - ping me if you want to reopen :)

[2016-10-19 13:06] #37 closed, assigned to tintoy

[2016-10-21 08:52] #14 closed, assigned to tintoy

[2016-10-24 22:11] wninobla opened #39 "Adding multiple NICs using resource ddcloud_server vs. ddcloud_server_nic"
What is the preferred method of getting this done?  The new resource will add the NIC but requires a restart of the target VM which isn't so much a big deal.  But, a customer may want to try to include the multi-NIC definition in the resource ddcloud_server.  I didn't happen to see it in the documentation so not sure if that's an option.  Thoughts?

[2016-10-25 19:07] wninobla opened #40 "Question - ddcloud_address_list instructions for child_lists option not defined"
Hi,

I have the other options working but was trying to use the optional child_lists feature.  I get the error:
- ddcloud_address_list.production-list: child_lists: should be a list

So, I am unsure on the syntax in how to represent this option.  So, if you can update the documentation on the same that would be great.  BTW, the documentation refers to port_lists in the address_list readme file so

[2016-10-25 19:53] wninobla commented on #40
This is the same issue for the resource ddcloud_port_list.

[2016-10-25 20:04] wninobla commented on #40
The final note here is whether or not the ddcloud_firewall_list has updates to utilize the new resources ddcloud_address_list and ddcloud_port_list respectively.  Is this code written but not released or in flight?

[2016-10-29 18:31] tintoy commented on #39
Unfortunately this isn't really practical - consider it a mismatch between how Terraform works and limitations of the CloudControl API. I can explain further if you're interested but the key point here is that we can't reliably identify the various individual NICs if they appear _under_ the ddcloud_server resource (because all NIC properties are mutable).

If we treated them as separate resources

[2016-10-29 18:35] tintoy commented on #40
No it should definitely work - I updated the docs before I went on leave. I'll have a look at this tomorrow.

[2016-10-29 20:10] tintoy commented on #40
Should be enough to just put a list of comma-separated entries in square brackets.

Same syntax as depends_on.

[2016-10-29 20:12] tintoy commented on #39
Ah - do you mean creating the server with all the NICs already present from the start? Could be tricky.

But we might be able to move the additional NIC resources under the server if we add an arbitrary "index" property to each NIC.

[2016-10-29 23:54] wninobla commented on #39
Yes - from the start.  I can live with the other method of adding after the fact.  However, if we're going about spinning up infrastructure as a final configuration from the get go it would stand to reason we'd be able to specify this in the ddcloud_server resource all at once as ollosed to relying on the other method that will add that as an infrastructure change/upgrade.

Regards,

William Ninob

[2016-10-30 01:18] tintoy commented on #39
Actually that might not be a meaningful distinction in the Terraform model. Will explain when I get behind a real keyboard :)

[2016-10-30 03:02] tintoy commented on #40
I see - yes address lists are supported for `ddcloud_firewall_rule`, but I didn't specify the property names for address lists in the documentation. I'll update the docs, but for reference here are the 4 properties relating to address / port lists (source / destination) on a firewall rule:
- `source_address_list`
- `source_port_list`
- `destination_address_list`
- `destination_port_list`

[2016-10-30 03:13] tintoy commented on #39
Ok, so here's the thing. A server and its various NICs are part of the same configuration (in Terraform terms) because they appear across one or more files in the same folder (or module). So from that perspective at least it doesn't make a difference whether they are under a single resource (the `ddcloud_server`) or appear as separate related resources. They'll have to be created separately and ma

[2016-10-30 03:15] tintoy commented on #39
@wninobla

CC: @kumarappanc @johnamurray @alexbacchin

Now we could maybe make additional NICs behave more like disks (by giving each adapter an arbitrary `index` property) but, like disks, internally we'd still have to manage each one individually.

This is a little fragile however, because we'd need to ensure that the adapter order is maintained by CloudControl and that the index values being us

[2016-10-30 03:56] tintoy commented on #39
BTW, looks like the Hashicorp devs are considering [improved support for nestable resources](https://github.com/hashicorp/terraform/issues/2275). Perhaps that would make this easier to handle?

[2016-10-31 21:31] tintoy commented on #26
Since this also needs to configure agents, I think we may be better off with a separate resource type (e.g. `ddcloud_server_backup` with multiple `agent` sub-entries).

[2016-10-31 21:32] tintoy commented on #40
This should be fixed now, @wninobla. Can you take a look at let me know?

[2016-10-31 21:37] wninobla commented on #40
OK, this looks good now.  I will test the ID and see if the ddcloud_firewall_acl gets updated now.  What I didn't see or rather would like an example of is the list that you were talking about if I specify multiples for the ddcloud_address/port_list.  I can play around with it but if you can update the docs that specify that example or just send me one I can update my project to reflect the same.

[2016-10-31 21:42] wninobla commented on #39
This could work maybe...  But not sure if its worth the effort.  The workaround for now as long as we know it works is fine short term.  We can follow whatever the community dictates after I suppose. =)

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data
________________________________
From: Adam Friedman <notifications@github.com>
Sent: Saturday, October 29, 201

[2016-10-31 21:53] tintoy commented on #40
@wninobla does that suit?

[2016-10-31 21:54] tintoy commented on #39
Ok, I'm going to close this for now; we can reopen it if we decide to alter the implementation :)

[2016-10-31 21:54] #39 closed, assigned to nobody

[2016-10-31 21:55] wninobla commented on #40
Well yeah and no.  I was looking for a child_list example.  For instance:

1)  I have (2) resources defined as ADDRLIST_01 and ADDRLIST_02 that I want to combine

2)  I define a new resource as GROUP_01 to hold the items above as a single list

[2016-10-31 21:56] tintoy commented on #21
Ok. Sorry but for now I think this one may not be practical to implement.

If you run into a specific use case that is being blocked by it, though, let me know and I'll reopen it.

[2016-10-31 21:56] #21 closed, assigned to nobody

[2016-10-31 21:57] tintoy commented on #40
Oh, sorry I thought that was obvious. Obviously not now that I think about it. Sorry, my bad 😊

I'll add one.

[2016-10-31 21:59] wninobla commented on #40
BTW, it fails also because it has as a required component the name and address fields...  So I can fill the name one but the address field doesn't necessarily make sense.  The IP_version I think got truncated in the doc so you'll want to readd that in there also.

[2016-10-31 22:00] wninobla commented on #40
No worries.  We often make the assumption including myself on what's intended.  That's why I am working through the instructions as it gives a fresh view on it all.

[2016-10-31 22:00] wninobla commented on #21
OK no problem - thanks!

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data

---

From: Adam Friedman notifications@github.com
Sent: Monday, October 31, 2016 2:56 PM
To: DimensionDataResearch/dd-cloud-compute-terraform
Cc: William Ninobla (ITaaS); Author
Subject: Re: [DimensionDataResearch/dd-cloud-compute-terraform] Request for Enhancement - Reference to add Publ

[2016-10-31 22:10] tintoy commented on #40
Sorry when you say address is required, where do you mean? Can you provide an example? Looking in the code, address is [marked as optional](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.0/vendor/ddcloud/resource_address_list.go#L56).

[2016-10-31 22:12] tintoy commented on #40
Oh, in the documentation. Sorry, yes, I'm stupid.

[2016-10-31 22:17] tintoy commented on #40
@wninobla ok - how about now? 🌵

[2016-10-31 22:20] wninobla commented on #40
It's OK.  I retried the syntax I used on Friday but for some reason it looks like its reading it now although when I run it I get this:

[root@192-168-104-251 test]# terraform apply
ddcloud_networkdomain.networkdomain: Refreshing state... (ID: 9c4033c9-3c2c-4ea0-bf20-52929c74140c)
ddcloud_address_list.utility-list: Refreshing state... (ID: 1c061f76-658a-4322-b606-dd6fa0a46104)
ddcloud_vlan.trust-v

[2016-10-31 22:35] wninobla commented on #40
OK I updated my .tf file and it won't take as its expecting a comma or something:

resource "ddcloud_address_list" "prod-list" {
  name                 = "PROD_Address_List"
  ip_version           = "IPv4"

  child_lists = [
    "${ddcloud_address_list.dmz-list.id}"
    "${ddcloud_address_list.trust-list.id}"
  ]

  networkdomain        = "${ddcloud_networkdomain.networkdomain.id}"
  depends_on

[2016-10-31 22:43] wninobla commented on #40
OK it was missing the ending commas:

resource "ddcloud_address_list" "prod-list" {
  name                 = "PROD_Address_List"
  ip_version           = "IPv4"

  child_lists          = [
    "${ddcloud_address_list.dmz-list.id}",
    "${ddcloud_address_list.trust-list.id}",
  ]

  networkdomain        = "${ddcloud_networkdomain.networkdomain.id}"
  depends_on           = ["ddcloud_networkdomain.

[2016-10-31 23:14] tintoy commented on #40
Ah, sorry - was typing that in a browser! Will fix :)

[2016-10-31 23:17] tintoy commented on #40
Ok, so it works for you now?

[2016-10-31 23:25] wninobla commented on #40
Address and port lists are working.  I an writing a firewall rule not and got the port list to work but its erroring on the address list specifically on the source.  The plan works but the apply doesn't.  I change it to both a nested and non nested address list with the same error.  Here's what I got:

resource "ddcloud_firewall_rule" "firewall-rule-004" {
  name                     = "mgmt.inboun

[2016-10-31 23:26] tintoy commented on #40
Ok, I’ll have a look this afternoon (meetings until then). Sorry about that.

[2016-10-31 23:29] wninobla commented on #40
No problem.  The regular rule works but when I specify any nested list it complains.  Just let me know what you find.

Also, on the child_lists portion, slight bug in that it keeps switching the list members and as a result it wants to modify the child lists back and forth every time I run a "terraform apply".  If you want me to I can file that under a separate case.

[2016-10-31 23:29] tintoy commented on #40
@wninobla can you try running `terraform apply` again with the following environment variables set:

`TF_LOG=DEBUG`
`TF_LOG_PATH=Apply.log`
`DD_COMPUTE_EXTENDED_LOGGING=1`

Then attach the generated log file?

[2016-10-31 23:31] wninobla commented on #40
OK let me create a variable file and do that.  Just in time too as I just shut my session down... LOL

[2016-10-31 23:32] tintoy commented on #40
Yeah please create a separate issue for that; it’s a bug (well, sort of) - CloudControl is not preserving the List order, so it should be changed to a Set instead.

[2016-10-31 23:43] tintoy commented on #40
That should do it. Turns out CloudControl calls it `ipAddressListId` when creating a new rule, but `ipAddressList.id` when retrieving existing rules.

[2016-10-31 23:46] wninobla opened #42 "Error applying ddcloud_firewall_rule with source or target address list"
I have tested the ddcloud_port_list firewall creation and it works without incident.  however, in specifying a couple of combinations of the same using address lists it fails either saying it wants a valid source IP or destination IP.  I have attached the bug report for review.
[Terraform-Debug-20161031.zip](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/files/563073/Terraform

[2016-10-31 23:48] wninobla commented on #40
OK, cool.  I set a different case with the debug dump for you to review.  Just make sure it isn't something I'm doing that's dumb as that is totally possible. =)

[2016-11-01 00:00] tintoy commented on #42
Thanks! Should be fixed in 25bdac4fb9b11ac2beaf8e400478cb439dbcf183.

[2016-11-01 00:03] tintoy commented on #40
Nah, you were right it was a bug - see the notes for #42 :)

[2016-11-01 00:11] wninobla commented on #40
OK cool.  I'll try it later on tonight and let you know if it behaves now or not.  Thanks for the quick fix!

[2016-11-01 00:16] tintoy commented on #40
Thanks heaps for taking the time to do so :)

[2016-11-01 01:39] wninobla commented on #40
Let me know when the release is formally compiled else I guess I can compile this manually.  I'd just rather have an actual release. =)

[2016-11-01 02:41] tintoy commented on #40
Sure - later this afternoon:)

[2016-11-01 03:30] tintoy commented on #40
Here's [v1.1.1](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.1.1) - have fun :)

[2016-11-01 03:30] #40 closed, assigned to nobody

[2016-11-01 03:30] tintoy commented on #42
I'm closing this (should be fixed now), but let me know if you still have problems and I'll reopen it.

[2016-11-01 03:30] #42 closed, assigned to tintoy

[2016-11-01 03:57] wninobla commented on #42
Works!  But, the other slight bug is still there as its still trying to modify the child_lists...

[2016-11-01 05:01] tintoy commented on #42
Ah, that’s a separate issue - haven’t tackled that one yet. Does it go away if you use the order that Terraform changes them to? If so then at least there’s a workaround. I’ll look into changing it over to a Set sometime tomorrow.

[2016-11-01 05:32] wninobla commented on #42
I'll try it out but I haven't changed the lines at all and it wants to modify them each time.  I do recall its changing it in the same order so maybe moving it around will do.  I'll give it a whirl when I get a chance.

[2016-11-01 17:55] wninobla commented on #42
OK I changed the order and it does flag it as “no changes” in terraform.  Strange indeed.  On that note, if I change the ordering of the list it resolves just fine it seems.  I went from:

resource "ddcloud_port_list" "web-services-list" {
  name                 = "WEB_Services_List"
  description          = "Port group for all HTTP/HTTPS traffic"

  child_lists          = [
    "${ddcloud_port_li

[2016-11-01 18:52] mingsheng36 opened #43 "Invalid or unknown key for 'disk' and 'os_image_name'"
When running "terraform plan" from CLI, it is giving error that I have invalid key 'disk' and 'os_image_name'. BTW I am using release v1.1.1

[2016-11-01 18:55] mingsheng36 commented on #43
Tried os_image_id, os_image_name, customer_image_id, or customer_image_name

[2016-11-01 18:59] wninobla commented on #43
Can you paste the terraform TF file?  It is rather explicit so I am wondering if you specified the variables right or not.

[2016-11-01 19:10] mingsheng36 commented on #43
provider "ddcloud" {
  "username"           = "dev1-ms"
  "password"           = "Cloud@123"
  "region"             = "AP"
}

resource "ddcloud_networkdomain" "networkdomain" {
  name                 = "Test Network Domain"
  description          = "New network domain created via Terraform"
  datacenter           = "AP3"
  plan = "ADVANCED"
}

resource "ddcloud_vlan" "dmz-vlan" {
  name

[2016-11-01 19:11] mingsheng36 commented on #43
provider "ddcloud" {
  "username"           = "my_username"
  "password"           = "my_password"
  "region"             = "AP"
}

resource "ddcloud_networkdomain" "networkdomain" {
  name                 = "Test Network Domain"
  description          = "New network domain created via Terraform"
  datacenter           = "AP3"
  plan = "ADVANCED"
}

resource "ddcloud_vlan" "dmz-vlan" {
  name

[2016-11-01 19:12] mingsheng36 commented on #43
Well, what i did was purely copying the infrastructure.tf (minus away the VIPs and Firewalls) from the examples and tried to run it.

[2016-11-01 19:23] wninobla commented on #43
Hmm... It looks OK.  I don't want to run the code seeing you embedded the password (I would change that right away BTW).  But, what I would recommend is removing the part its complaining about.  In other words the server piece.  If you are using my examples to learn from start with the networkdomain.tf example as you can keep the configurations in separate files as Terraform will run every file in

[2016-11-01 19:32] wninobla commented on #43
BTW, I took your exact code that you copied and updated it with my ID and it worked just fine.  I would ask that you try and update your terraform version to at least 0.7.1 or later.  I'd also be wary of carriage returns or extra characters in the file editor you're using as that makes a difference a lot of times in linux.

[2016-11-01 19:39] tintoy commented on #43
Hi - I took this file and ran `terraform plan`, too. It seemed to work ok:

[code]

Would you mind posting the _exact_ output from Terraform?

[2016-11-01 19:42] tintoy opened #44 "Order of child address or port lists is not preserved"
Child lists is being modelled as a List, but should be modelled as a Set (since CloudControl's ordering of these is non-deterministic).

[2016-11-01 19:48] mingsheng36 commented on #43
Actually I just got to know Terraform today and got the latest executable (v0.7.7) from [terraform](https://www.terraform.io/downloads.html) , then changed to (v0.7.4) which you recommended

However still facing the same error. If its just putting the **networkdomain.tf** and **vlan.tf** and run "terraform plan" is ok. The issue starts when i put in the **server.tf**

BTW, I'm using Windows 10 her

[2016-11-01 19:51] tintoy commented on #43
What version of the ddcloud provider for Terraform are you running? Do you remember the URL you downloaded it from?

[2016-11-01 19:57] mingsheng36 commented on #43
From the github repo of [DimensionDataResearch](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases), Windows 64bit executable.

[2016-11-01 20:00] tintoy commented on #44
@wninobla fixed :)

[2016-11-01 20:00] #44 closed, assigned to tintoy

[2016-11-01 20:01] wninobla commented on #44
OK cool - I'll test it out after I handle me some Ming. =)

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data
________________________________
From: Adam Friedman <notifications@github.com>
Sent: Tuesday, November 1, 2016 1:00 PM
To: DimensionDataResearch/dd-cloud-compute-terraform
Cc: William Ninobla (ITaaS); Mention
Subject: Re: [DimensionDataResearch/dd-cloud-

[2016-11-01 20:01] tintoy commented on #43
Sorry, I meant the ddcloud provider (`terraform-provider-ddcloud.exe`).

[2016-11-01 20:06] tintoy commented on #43
Do you remember which release? The disk property was changed early on, which makes me wonder if you're on a rather old version...

Can you run `terraform-provider-ddcloud.exe --version` and paste the output?

[2016-11-01 20:11] tintoy commented on #44
Made you a contributor BTW :)

On 2 Nov 2016, at 7:01 AM, wninobla <notifications@github.com<mailto:notifications@github.com>> wrote:

OK cool - I'll test it out after I handle me some Ming. =)

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data
________________________________
From: Adam Friedman <notifications@github.com<mailto:notifications@github.com>>
Sent: T

[2016-11-01 20:26] wninobla commented on #44
Saw that - thanks!

BTW, the thread with Ming you will want to look at as I think there is a bug with the Windows port of Terraform.  It won't pull the os_image_id or os_image_name correctly as it errors out.  He'll upload the log file for the debug in a sec.

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data

---

From: Adam Friedman notifications@github.com
Sen

[2016-11-01 20:26] wninobla commented on #43
This one is for you @tintoy - looks like a bug to me.

[2016-11-01 20:29] mingsheng36 commented on #43
Thanks for looking into this issue. ;)
[logs.txt](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/files/564982/logs.txt)
[networkdomain.tf.txt](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/files/564983/networkdomain.tf.txt)
[server.tf.txt](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/files/564984/server.tf.txt)
[vlan.tf.txt](https:/

[2016-11-01 20:30] wninobla commented on #43
Based on what Ming is seeing i will also run the same tests in Windows.  =)

[2016-11-01 20:52] tintoy commented on #43
Hi @mingsheng36, thanks for the report :)

Could you do me a favour? Try running `terraform-provider-ddcloud.exe --version` and see what output is produced? That will help narrow down the source of the problem.

[2016-11-01 20:53] wninobla commented on #43
I believe he ran it with 0.7.4 to match me.  But, he tried both that and version 0.7.7 if I recall our convo correctly.

[2016-11-01 20:54] tintoy commented on #43
Ah, no, sorry @wninobla, I'm talking about the version of the ddcloud provider, not the version of Terraform :)

[2016-11-01 20:54] tintoy commented on #43
By the way not that it helps us right now but, starting with the next release, the ddcloud provider will log its version info on startup.

[2016-11-01 20:55] wninobla commented on #43
Ah - he said it was v1.1.1 =)

[2016-11-01 20:57] tintoy commented on #43
Hmm. The reason I ask is that before 02e2747e307b31fb4c1c2d6f1b3dc871411aeceb, the `disk` property was actually 2 properties called `image_disk` and `additional_disk`. So if it's complaining that there's no such property then it might be an old version of the provider.

[2016-11-01 21:01] tintoy commented on #43
Ah! have found the problem. It _is_ an old version of the provider. For some reason, the .zip for windows contains 2 different files (one is correctly v.1.1.1, but the other is v0.1). I'm going to re-build the windows .zip and upload it again.

[2016-11-01 21:03] wninobla commented on #43
I was about to say that also although I was going to let my test run complete. =)  Good it was that easy a problem to fix.  I'll finish my run though for completeness sake.  Thanks!

[2016-11-01 21:06] tintoy commented on #43
Ok, @mingsheng36 and @wninobla, could you please [download the the provider](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.1.1) again, then retry the `terraform apply`?

[2016-11-01 21:06] wninobla commented on #43
My test run completed with no issues so that was probably the issue.  Let me know when the Windows port is rebuilt and I will check it for sanity.  Thanks!

[2016-11-01 21:08] wninobla commented on #43
Ming is asleep as he's in AP.  I will rerun the binary once my destroy jobs finish.

[2016-11-01 21:17] tintoy commented on #43
Thanks!

[2016-11-01 21:20] wninobla commented on #43
OK it's running now and it looks like both the binary and it running on Terraform 0.7.7 seems OK.  The job is in the midst of its run but it got past the server error piece so I think we're good to go.  I think ew can close this one out once Ming confirms the same on his end.  Thanks!

[2016-11-01 22:25] tintoy commented on #43
Thank you for testing it out!

[2016-11-02 01:07] mingsheng36 commented on #43
Done! its fixed now. Thanks @wninobla @tintoy !

[2016-11-02 01:08] #43 closed, assigned to tintoy

[2016-11-02 01:28] tintoy commented on #43
No problem - thank again for reporting it :)

[2016-11-02 01:44] wninobla commented on #43
Glad to hear.  My code samples aren't updated yet but I'll be working a bit later tonight.  Fyi thanks.

[2016-11-06 09:58] tintoy opened #45 "Add data source for VLANs"
Implement `ddcloud_vlan` data source.
Look up VLAN by name and network domain Id.

- [x] Implementation
- [x] Documentation

[2016-11-07 06:06] #45 closed, assigned to tintoy

[2016-11-07 09:17] tintoy opened #46 "Provider option to automatically delete public IP blocks"
If `auto_delete_public_ip_blocks' is true, then when the last `ddcloud_nat` resource that uses a given public IP block is deleted, then the public IP block should also be deleted.

Still need to think about the edge cases...

[2016-11-08 22:42] tintoy opened #47 "Cannot change name of ddcloud_server after deployment"
The CloudControl API supports this, it's just not implemented in the provider (or the CloudControl client for Go).

[2016-11-09 00:25] #47 closed, assigned to tintoy

[2016-11-14 22:34] tintoy opened #48 "Enable specifying of custom URL for CloudControl API end point"
The provider should allow the full base URL to be specified:

[code]

This would use `https://foo.bar.com/baz` as the base URI for the CloudControl API (rather than the usual `https://api-{region}.dimensiondata.com`).

We will probably need to a new function to the CloudControl API client to create a client using a custom base URL instead of a region name. This is tracked by [go-dd-cloud-compute #

[2016-11-15 07:50] tintoy opened #49 "Address lists should be able to take a list of addresses"
Currently, the syntax supported by the `ddcloud_address_list` resource doesn't support being passed a list of IP addresses. Just add a list-type property of addresses (as strings).

[2016-11-15 09:35] #49 closed, assigned to tintoy

[2016-11-15 15:17] wninobla commented on #49
?Nice - I'll give that a try as I've been inactive since GoCD has been giving me fits... =)

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data

---

From: Adam Friedman notifications@github.com
Sent: Tuesday, November 15, 2016 1:35 AM
To: DimensionDataResearch/dd-cloud-compute-terraform
Subject: Re: [DimensionDataResearch/dd-cloud-compute-terraform] Address lists

[2016-11-15 15:20] wninobla commented on #48
Is this to support a private/hosted MCP?  I was thinking about that though I was working on base configurations first.  If it is we definitely will want that especially if we start hosting API versions that are not of our global regions.

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data

---

From: Adam Friedman notifications@github.com
Sent: Monday, November 14

[2016-11-15 19:06] tintoy commented on #48
Yep, that was my thinking :)

On 16 Nov 2016, at 2:20 AM, wninobla <notifications@github.com<mailto:notifications@github.com>> wrote:

Is this to support a private/hosted MCP? I was thinking about that though I was working on base configurations first. If it is we definitely will want that especially if we start hosting API versions that are not of our global regions.

Regards,

William Ninobla
Sr

[2016-11-15 19:07] tintoy commented on #49
Thanks!

[2016-11-15 23:23] tintoy commented on #49
[Example](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.0/docs/resource_types/address_list.md#simple).

[2016-11-15 23:26] #48 closed, assigned to nobody

[2016-11-17 06:25] tintoy opened #50 "Port lists should be able to take a list of ports"
Currently, the syntax supported by the `ddcloud_port_list` resource doesn't support being passed a list of IP addresses. Just add a list-type property of addresses (as strings).

[2016-11-17 06:39] #50 closed, assigned to tintoy

[2016-11-21 06:23] mingsheng36 opened #51 "32 bit support"
Am trying to use my 32-bit company laptop to provision using terraform.
Just checking if there are any 32-bit release for dd-cloud?

[2016-11-21 06:37] tintoy commented on #51
Not officially but I'll see if Go can produce one... of

On 21 Nov. 2016, at 5:24 pm, Ming Sheng <notifications@github.com<mailto:notifications@github.com>> wrote:

Am trying to use my 32-bit company laptop to provision using terraform.
Just checking if there are any 32-bit release for dd-cloud?

##

You are receiving this because you are subscribed to this thread.
Reply to this email directly, vi

[2016-11-21 06:57] tintoy commented on #51
Yep, shouldn't be a problem. Give me a minute to publish a new build.

[2016-11-21 07:00] tintoy commented on #51
Ok @mingsheng36 can you try [v1.1.4](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.1.4) and let me know if that works for you?

[2016-11-21 15:54] mingsheng36 commented on #51
Thanks for the fast response! Managed to deploy using 32-bit now. Thanks!

[2016-11-21 15:54] #51 closed, assigned to tintoy

[2016-11-21 16:04] mingsheng36 opened #52 "Specify network adapter type for primary NIC and also additional NICs"
Apologize for spamming the issues section.

As you know our NIC adapter will always default to E1000 for almost all the images. I have a client that requires the use of vmxnet3 for better network performances. Looking at the codes, seems like this request will involve adding codes at the GO compute..

[2016-11-21 17:21] wninobla commented on #52
Hi Ming,

I think by default the template image is going to use whatever the default is which I believe the VMNET3 NIC it is.  But, you bring up a valid point for people who need the older driver.

Adam,

Any way we can add this option into the server deployment resource?  Whether we deploy it initially or with the NIC resource add we'll need a way to specify that for legacy (or poorly coded ones)

[2016-11-21 17:42] mingsheng36 commented on #52
[https://docs.mcp-services.net/display/CCD/What+Operating+Systems+are+Currently+Supported](url)

For the Linux OSes, all are using E1000 as their default.

Thanks William for the suggestion. To me, this is an important factor as if there is requirement for vmxnet3 (or any other adapter types other than the default), then terraform can't really be used for automated provisioning.

[2016-11-21 17:50] wninobla commented on #52
While the push should be to use the latest NIC I do agree there will undoubtedly be edge cases where we will need this.

[2016-11-21 18:57] tintoy commented on #52
Hi - sure, that should be pretty easy to do. I'll have a look into this today.

- [x] `VirtualMachineNetworkAdapter.AdapterType`
- [x] `ddcloud_server.primary_adapter_type`
  - [x] Implementation
  - [x] Documentation
- [x] `ddcloud_server_nic.adapter_type`
  - [x] Implementation
  - [x] Documentation

[2016-11-21 19:00] wninobla commented on #52
Thanks Adam!

I’ve been sick so I need to test a few things now and also add 32-bit testing to the fold as well.  If I can get this GoCD crap to work I’d be set =)  Once I see the commit I’ll give it a whirl and update my docs.  Thanks!

[2016-11-21 19:06] tintoy commented on #52
Hmm. Actually, the CloudControl API doesn't seem to let you specify the NIC type anywhere that I can see :-/

I'll ask the CaaS UI guys how they do it.

[2016-11-21 19:07] wninobla commented on #52
?Yeah - I think it defaults to auto detact in the UI so I know theres "something" though it may not be API accessible.  Good luck! =)

[2016-11-21 19:21] tintoy commented on #52
It looks like the ability to specify NIC type is only present in the 2.3 API but we use 2.2 to deploy servers. I'll need to see if this breaks compatibility with anything before we can proceed.

[2016-11-21 23:51] tintoy commented on #52
Ok - this should work as of [v1.1.5](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.1.5).

* `ddcloud_server` now has property `primary_adapter_type`
* `ddcloud_server_nic` now has property `adapter_type`

Both can be set to either "E1000" or "VMXNET3".

Due to limitations in the CloudControl API, we can only _set_ the adapter type; it is not visible when retri

[2016-11-22 00:23] mingsheng36 commented on #52
![image](https://cloud.githubusercontent.com/assets/5947212/20506102/89737d6a-b08c-11e6-90f3-79557a586862.png)
![image](https://cloud.githubusercontent.com/assets/5947212/20506119/a3adb024-b08c-11e6-86a1-018e7e224757.png)

It is working now! Wonderful.

Thanks @wninobla for pushing it and @tintoy for the quick response and fix! :)

[2016-11-22 00:25] wninobla commented on #52
You sir are quick. =)  I should probably stop playing with GoCD and get to testing myself. =)

[2016-11-22 06:16] mingsheng36 commented on #52
While trying to add additional nic through "server_nic.tf", it does not deploy it as VMXNET3.

resource "ddcloud_server_nic" "test-server-2-nic" {
  server               = "${ddcloud_server.test-server-2.id}"
  private_ipv4         = "172.16.0.100"
  adapter_type 		   = "VMXNET3"
  vlan                 = "b6dfce96-b98c-4eea-9968-854a65acd03d"
  depends_on           = ["ddcloud_server.test-server-2

[2016-11-22 06:27] mingsheng36 commented on #52
When running "plan":
![image](https://cloud.githubusercontent.com/assets/5947212/20513240/a0cdd87e-b0bf-11e6-837e-21a462c8fde9.png)

Actual code:
![image](https://cloud.githubusercontent.com/assets/5947212/20513247/ab759f00-b0bf-11e6-8244-6cc6974aa0b9.png)

[2016-11-22 09:42] tintoy commented on #52
Regarding `allow_server_reboot`, would you mind raising a separate issue for that with a description of the behaviour you're seeing? It's easier to keep track of if each issue in GitHub relates to a single thing :)

[2016-11-22 09:47] mingsheng36 commented on #52
Sure thing. Let me test it out.

[2016-11-22 10:36] tintoy opened #53 "Remove auto_create_tag_keys provider setting"

[2016-11-22 10:42] #53 closed, assigned to tintoy

[2016-11-22 10:45] tintoy commented on #52
@mingsheng36 I think I've found a bug there (`allow_server_reboot`). Will be fixed in v1.1.6.

[2016-11-22 10:51] tintoy commented on #52
@mingsheng36 - also, the problem with `adapter_type` in `ddcloud_server_nic` should be fixed in v1.1.6, too.

[2016-11-22 10:58] tintoy commented on #52
Ok, give [v1.1.6](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.1.6) a try.

[2016-11-22 23:05] johnamurray opened #54 "Add the ability to manage default firewall rules"
When you standup a network domain it comes with a set of default firewall rules that currently cannot be managed by terraform as it doesn't create them. I would like to disable (in particular) the rule that denies all inbound IPv6 traffic.

@tintoy could maybe point me in the right direction and I can try and sort out. Maybe a data resource?

[2016-11-22 23:11] wninobla commented on #54
Hi John,

@johnamurray In terms of how Terraform works that isn't necessarily how you would typically go about disabling a resource that wasn't originally spun up by Terraform.  You could I suppose export the configuration to get it to be recognized by the terraforn state file but this is something better server via an API call or a post transaction via Ansible or Chef.

[2016-11-22 23:30] tintoy commented on #54
I'm thinking maybe they might work better as settings on the network domain (data sources are read-only, BTW).

Something like:

[code]

Note that the `CCDEFAULT.` prefix is not included in the rule type. This makes it harder to anyone to think they can control a regular firewall rule with this.

CC: @johnamurray @alexbacchin

PS. @wninobla ordinarily I'd agree with you here, but I think this migh

[2016-11-23 18:50] mingsheng36 commented on #52
Will test both of them tmr. 👍

[2016-11-23 18:56] wninobla commented on #52
I am finalizing the GoCD implementation (I have to figure out the variable fields to pass from GoCD but once I do I’ll have this running as a continuous cycle for Windows and Linux testing. =)

[2016-11-23 19:31] tintoy commented on #52
Awesome :)

BTW check out our Travis build file if you need any pointers.

[2016-11-24 02:41] johnamurray commented on #54
@wninobla - true but the reason I want to get the IPV6 deny disabled is so that a server can bootstrap using chef (or whatever) on ipv6 rather than giving it a public ipv4 address. My hack at the moment is a null resource that does an api call to disable the rule

[2016-11-24 10:16] tintoy commented on #54
Implemented in [v1.1.7](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.1.7).

[2016-11-25 00:47] mingsheng36 commented on #52
Hey Adam,

Sorry for the late reply.

Since "allow_server_reboot" has been fixed, I shall not open another issue for that.

Seems like when we add the additional NIC and specify VMXNET3, it is still adding it as E1000.

.tf:
![image](https://cloud.githubusercontent.com/assets/5947212/20611774/a3594a96-b2eb-11e6-907f-9c0c522eeee7.png)

os:
![image](https://cloud.githubusercontent.com/assets/5947212

[2016-11-25 00:56] tintoy commented on #52
What version of the provider are you now using? You can run `terraform-provider-ddcloud --version` to print that out.

Can you send me the full configuration you’re working with? The one I used was working for me so I’d like to have a play around with yours to see if I can replicate the issue in a controlled environment.

[2016-11-25 00:57] mingsheng36 commented on #52
Their latest version:
![image](https://cloud.githubusercontent.com/assets/5947212/20611884/3f7b3514-b2ed-11e6-9b61-4c3c41f41a2b.png)

For terraform-provider-ddcloud.exe (64-bit), I am using v1.1.7 (latest)

[2016-11-25 01:02] tintoy commented on #52
Sorry, I meant can you run  `terraform-provider-ddcloud —version` not `terraform version` (it'll include the exact commit that it was built from).

[2016-11-25 01:05] mingsheng36 commented on #52
My bad.

For terraform-provider-ddcloud.exe (64-bit), I am using v1.1.7 (latest)

![image](https://cloud.githubusercontent.com/assets/5947212/20611936/4660305e-b2ee-11e6-9f40-904b89efdf22.png)

[2016-11-25 01:17] tintoy commented on #52
Ok - send me your configuration and I’ll have a look.

[2016-11-25 01:35] mingsheng36 commented on #52
.tf
![image](https://cloud.githubusercontent.com/assets/5947212/20612056/a0424006-b2f0-11e6-9d0c-c058bc9e4f13.png)

terraform plan:
![image](https://cloud.githubusercontent.com/assets/5947212/20612069/c3644282-b2f0-11e6-9bfa-5a5a17a7c1fa.png)

terraform apply:
![image](https://cloud.githubusercontent.com/assets/5947212/20612176/27f9f6f0-b2f2-11e6-98f7-c6465a83b68a.png)

terraform state:
![image](h

[2016-11-25 01:48] tintoy commented on #52
Perhaps text rather than screenshots? I can't run a screenshot :)

[2016-11-25 02:12] tintoy commented on #52
BTW, if possible could you send the entire configuration rather than just a subset? The easier it is for me to get it running the sooner I can reproduce the problem :)

[2016-11-25 02:48] mingsheng36 commented on #52
sure.

[2016-11-25 02:54] mingsheng36 commented on #52
[code]

[2016-11-25 03:08] tintoy commented on #52
Sorry to be a pain, but would you mind including the *full* configuration (i.e. all resources not just those 2)? I want to make sure I’m replicating your configuration exactly.

[2016-11-25 03:19] tintoy commented on #52
Feel free to email it to me directly if you're worried it has something semi-sensitive in it.

[2016-11-25 03:19] mingsheng36 commented on #52
Sure. For this scenario as you can see i have manually added the Server ID which means it is an already deployed server which is not using terraform. Hence the "server_nic.tf" was the only thing that I have included.

[2016-11-25 03:20] tintoy commented on #52
I see. Ok, I'll give that a try.

[2016-11-25 04:14] tintoy commented on #52
Ok, I figured out why it works for the primary NIC but not additional ones.

Turns out that the v2.3 API (which we use to deploy servers) respects the adapter type, but the v2.2 API (which we use to add NICs to servers) does not. I modified our CloudControl client to use the v2.3 API for adding NICs and that did the trick.

Unfortunately this now means that you can specify the adapter's IPv4 addre

[2016-11-25 04:24] #54 closed, assigned to johnamurray, tintoy

[2016-11-25 04:36] tintoy commented on #52
Ok @mingsheng36 give [v1.1.8](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.1.8) a try. Be aware that now you can only specify `vlan` or `primary_ipv4` but not both (specifying `primary_ipv4` is preferred).

[2016-11-25 05:54] mingsheng36 commented on #52
Adam, just a minor request. Do you mind including the version number on the releases file names? It would help alot with identifying the files i have downloaded

[2016-11-25 06:07] tintoy commented on #52
Hi.

Sorry, that’s actually a bit difficult given the release process at present. I’ll see if I can improve that in the future but for now at least you can run “terraform-provider-ddcloud --version” which will tell you exactly what version it s.

[2016-11-25 06:11] tintoy commented on #52
BTW, would you mind creating separate issues for changes of topic? It makes it a lot easier to track progress :)

I've moved this discussion to #55.

[2016-11-25 06:13] tintoy opened #55 "Add version info to .zip files for each release"
As mentioned in #52.

Maybe update the Makefile targets to use the version number in the file name?

For example: `terraform-provider-ddcloud-v1.1.10.zip`.

[2016-11-25 06:25] tintoy commented on #52
@mingsheng36 - FYI, I've done a quick-fix so the packages are generated with more useful names. I'll revisit that later to make it less dodgy but it'll do for now.

[2016-11-25 06:26] #55 closed, assigned to tintoy

[2016-11-25 07:33] tintoy opened #56 "Merge ddcloud_server_nic into ddcloud_server"
Due to a limitation arising from differences between the CloudControl model and the Terraform life-cycle model, additional network adapters in a server are currently modelled as separate resources (see previous discussion relating to this change in #33 and #52). This is inelegant and unintuitive.

Now, however, I've worked out a way that we can do better :)

We now have the ability to match up net

[2016-11-25 09:46] mingsheng36 commented on #52
Solved thanks!

[2016-11-25 09:46] #52 closed, assigned to tintoy

[2016-11-25 16:30] mingsheng36 opened #57 "Deploying Multiple Network Domains"
Whenever I try to deploy 2 or more network domains, only one will be successfully created. The second one will always face 400 unexpected error.

[2016-11-25 20:48] tintoy commented on #57
Hi :)

Yes, this is unfortunate but a limitation of CloudControl. I've tried to avoid making the Terraform provider know too much about the internals of CloudControl (which could change and then break the driver's behaviour). For what it's worth, you tend to run into this with several of the major cloud providers.

Normally Terraform infers dependencies between resources by the use of expressions

[2016-11-26 01:24] tintoy opened #58 "Allow both IPv4 address and VLAN to be specified for network adapters"
But if both are supplied, then only the IPv4 address is submitted to CloudControl. This is now necessary because the v2.3 API (which we're now using to take advantage of the network-adapter-type feature) no longer allows you to specify both VLAN and IPv4 address.

Will impact #56.

[2016-11-26 03:18] mingsheng36 commented on #57
Alright, great. Will note this down.

[2016-11-26 03:18] #57 closed, assigned to nobody

[2016-11-26 04:11] mingsheng36 opened #59 "Deploying ddcloud_vlan in different ddcloud_networkdomain"
When deploying multiple vlans in different network domains, the VLANs will not deploy in sequence and will have errors like below.

[code]

Understand that it could be solve by using "depends_on" field as only one VLAN can be deployed at any point of time for a DimensionData MCP account, but the code would not look nice.

Is it possible to queue up the VLANs deployment for multiple network domains

[2016-11-26 07:14] tintoy commented on #59
Hi.

The short answer is no, unfortunately - it's a deliberate design decision in Terraform that providers are not given the option to control the ordering of resources (that's a choice made purely by Terraform) because otherwise it would be hard to make them play nicely together in mixed configurations (e.g. server in CloudControl, DNS in Azure). You'd also run into this problem if someone else i

[2016-11-26 07:16] tintoy commented on #59
I'm closing this as a duplicate of #11, but feel free to add any other notes you may have to this issue (or #11).

[2016-11-26 07:16] #59 closed, assigned to nobody

[2016-11-26 10:27] tintoy opened #60 "Create provider-level lock so only 1 network domain is deployed at a time"
This won't catch every case of simultaneous network domain deployment (which results in an UNEXPECTED_ERROR from CloudControl), but it will at least catch the most common one.

[2016-11-26 10:33] tintoy opened #61 "Create async operation lock"
It seems that CloudControl frequently returns `UNEXPECTED_ERROR` when 2 asynchronous operations (such as create network domain or deploy VLAN) are initiated simultaneously.

Let's create an asynchronous operation lock that ensures only one asynchronous operation is initiated at a time.

- [x] Implement lock
- [x] Create network domain
- [x] Deploy VLAN

[2016-11-26 10:34] tintoy commented on #60
Closed as a duplicate of #61.

[2016-11-26 10:34] #60 closed, assigned to tintoy

[2016-11-26 11:12] mingsheng36 commented on #61
Great! But dont know why they're calling it async when it is actually acting more like sync?

[2016-11-26 11:31] mingsheng36 commented on #56
Can I suggest that the additional NICs to be included (as an "additionalNic" parameter in CloudControl Server APIs) during server deployment instead of adding them after server deployment?

The reason is because it will save significant effort in configuring the NIC adapters at the OS level. I know it can be automated using CM tools but I would still prefer to keep it simple by deploying the serve

[2016-11-26 11:44] tintoy commented on #61
Call to deploy returns immediately. You have to keep getting the deployed entity's state until it says the work is complete. So initial call is synchronous but overall the operation is asynchronous.

[2016-11-26 11:45] tintoy commented on #56
Agreed - that's why I'm merging them back in :)

[2016-11-26 15:00] mingsheng36 opened #62 "When "dns_primary" && "dns_secondary" not specified, ddcloud_server cannot not be deployed"
server.tf:
[code]
Error Message as follow:
[code]
[code]

Version:
terraform --> v0.7.12
provider --> v1.1.8

OS: Windows 10, 64-bit

[2016-11-26 17:34] mingsheng36 opened #63 "Support for Disk Speed on Primary Disk ONLY"
Tested deploying with "HIGHPERFORMANCE" disk and also tried to updating the disk speed but is not working.

Saw from the code under "resource_server_disks.go" line 272 mention that currently there is no support for disk speed.

Is it possible to add in this feature?

[2016-11-26 19:10] tintoy commented on #63
If you add a second disk with its speed configured as `HIGHPERFORMANCE` does that work for you?

As far as can I remember, setting the disk speed when creating the disk should work, just not _changing_ the disk speed for an existing disk (this includes the image disk I suspect).

The disk speed stuff is only available in the old v0.9 CloudControl API (XML-only) but I'm sure we can work something o

[2016-11-26 19:11] tintoy commented on #63
BTW, thanks for helping to shake out these missing features - keep it coming :)

[2016-11-26 19:12] tintoy commented on #62
Hmm - I could either make those mandatory or just make the default Google's DNS (`8.8.8.8`, `8.8.4.4`). Do you have a preference?

[2016-11-26 19:53] tintoy commented on #62
Fixed. Will be available in v1.1.9.

[2016-11-26 21:04] tintoy commented on #61
Now that this has been implemented, we no longer see `UNEXPECTED_ERROR` from the API.

Now we just have to deal with `RESOURCE_BUSY`, which is tracked by #11.

[2016-11-26 21:04] #61 closed, assigned to tintoy

[2016-11-27 00:58] tintoy commented on #11
Have given this a quick test-drive, @mingsheng36, and it looks promising :)

[2016-11-27 02:57] mingsheng36 commented on #62
Can I suggest to leave it empty instead of specifying Google's DNS?

~~I think~~ When Primary and Secondary DNS are not specified, CloudControl will default them to use MCP's Cloud DNS resolver. (Tested)

[https://docs.mcp-services.net/display/CCD/Cloud+DNS+Resolvers](url) for different regions.

[2016-11-27 03:47] mingsheng36 commented on #63
_If you add a second disk with its speed configured as HIGHPERFORMANCE does that work for you?_
--> ~~Tested and it is not working~~ It is working
_As far as can I remember, setting the disk speed when creating the disk should work, just not changing the disk speed for an existing disk (this includes the image disk I suspect)._
--> ~~Tested and it is not working~~ Not for the primary OS disk, but

[2016-11-27 04:20] mingsheng36 commented on #63
Weird. Right after the above deployment, I tried to run "plan" again (without any changes to server.tf) and seems like there might be some issues with the detecting the size and speed of the first disk (scsi_unit_id: 0) in server.tf and will attempt to update it to 0 GB and speed to "blank".
[code]

[2016-11-27 05:36] tintoy commented on #62
Wasn't it complaining about them not being supplied?

[2016-11-27 05:41] tintoy commented on #63
Hmm. I'll have a poke around while I'm adding the change-disk-speed support and see if anything is amiss.

As for OS disk speed change not taking, that's unsurprising; the problem is that we still have to deploy the machine _and then_ resize the OS disk or change its speed (and the speed change support was what was missing).

[2016-11-27 05:44] mingsheng36 commented on #62
From CloudControl API point of view, if you do not declare primary_dns or secondary_dns, it will still allow you to deploy the server using its own default DNS for each region.

From dd-cloud-compute-terraform, you have to declare the primary_dns and secondary_dns no matter what. (Even if you leave it as blank or did not specify)

e.g. Server will not be able to deploy with the codes below, it wil

[2016-11-27 05:51] tintoy commented on #62
Ok - we'll leave the field out entirely; CloudControl API docs say it should be optional. So yes it'll now use the CloudControl defaults if you don't specify one.

[2016-11-27 05:59] tintoy commented on #62
Yes - have a look at the change I just made - we now omit those fields from the JSON if they are empty (which makes all the difference).

[2016-11-27 06:40] mingsheng36 commented on #62
Looks good to me

[2016-11-27 08:51] mingsheng36 opened #64 "Unable to Deploy Server using Client Images"
Suggestion - To standardize to use only 'os_image_id' OR 'os_image_name' for any server deployment (default images or client images) and remove 'customer_image_id' and 'customer_image_name' from schema as they are exactly the same thing

P.S. I was a little confused by the options for images the first time when I encountered this.
[code]

[2016-11-27 09:24] tintoy commented on #64
Customer and OS images are not the same though. Certainly not according to the CloudControl API.

[2016-11-27 09:29] tintoy commented on #64
Customer and OS images are separate in CloudControl but you're right that I could merge the 2 Id properties. But if we look them up by name then we MUST know if they are OS or customer images (currently the CloudControl API docs refer to customer and OS images but I've heard them called default and customer before, too).

Can you post details of the crash? It certainly should work but I had to ref

[2016-11-27 09:43] tintoy commented on #64
Actually @mingsheng36 I've looked at the CloudControl documentation and, for better or worse, the `os_image_id` and `customer_image_id` properties have to stay.

The reason that customer and OS images have to be treated differently?

Get OS image by Id: `GET https://<Cloud API URL>/caas/2.3/{org-id}/image/osImage/{image-id}`
Get customer image by Id: `GET https://<Cloud API URL>/caas/2.3/{org- id}

[2016-11-27 09:45] tintoy commented on #64
But like I said - post the crash log and I'll see to it that the crash is fixed at least :)

[2016-11-27 10:54] tintoy commented on #64
Ugh! Just had a look at the code, and there's definitely a bug there (looks like it broke at some point when merging changes from an upstream branch).

See commit 2b92dc3.

[2016-11-27 11:06] tintoy commented on #64
That code was a mess! A few more fixes in 	commit c577b80. That should do the trick now.

[2016-11-27 11:08] tintoy commented on #64
Nevertheless, send through your crash details so I can make sure I've fixed the problems you were seeing.

[2016-11-27 12:20] mingsheng36 commented on #64
Totally agree with that they are two different things from CloudControl Client Images (client imported images) and Default Images (CloudControl provided images) perspective which will only come into concern when we are doing Client/Customer Images Management (e.g. CRUD Client Images) which cannot be performed on Default Images. In that scenario, your point is totally correct that we have to separa

[2016-11-27 12:39] mingsheng36 commented on #64
@tintoy Do you mind providing a release after this fix, together with the merged server with server_nic feature? I think it would be an appropriate checkpoint as tomorrow I will be starting work and might not be able to spend much time on terraform (even at night) :(

[2016-11-27 18:16] tintoy commented on #64
Unfortunately, that single Id field isn't all that's required - we have to retrieve the image details so we can apply customisation of the deployServer payload to disks, memory, and CPU, etc. something we can't do without knowing the image type.

As for not requiring an admin password, that may be a little complex for this release (we'd need a programmatic way to determine if it is required for a

[2016-11-27 18:29] tintoy commented on #64
I'll have a think about how the image stuff could be improved for v1.2 (due in 2-3 weeks) - no promises but I'll do my best :)

[2016-11-27 23:53] tintoy opened #65 "Make admin_password optional for image types that don't require it"
See discussion in #64. If these are the definitive rules, then this should be doable by examining the image metadata:

* All OS Images should require `admin_password`
* All Windows Server 2008 customer images should require `admin_password`
* All Windows Server 2012 customer images should require `admin_password`
* All Linux customer images should not require `admin_password`
* All Windows 2003 cu

[2016-11-28 00:00] tintoy opened #66 "Simplify the UX for CloudControl images in Terraform"
See discussion in #64.

We could change `ddcloud_server` to have just 3 properties nested in an `image` property:

* `id` - The Id of the CloudControl OS or customer image to use.
* `name` - The name of the CloudControl OS or customer image to use.
* `type` - Either `os`, `customer`, or `auto`.
If `os` or `customer`, the the provider will attempt to resolve the Id / name as either an OS or custome

[2016-11-28 00:06] tintoy commented on #64
Ok - I'm going to build a release shortly. Not everything is in it because there are a lot of different things we've been talking about (and most of these GitHub issues actually refer to multiple issues) and I'm having a little trouble keeping track of it all :)

I'll spend some time reorganising the issues later this week but for now, you can check the new release notes to see what's in there.

[2016-11-28 00:12] mingsheng36 commented on #64
I see. Firstly, apologize for not understanding the complexity change of the design and the amount of work needed to simplify this one. I can certainly understand if this is going to be at the backlog or least priority as we still could have all the options out there (os, customer images) to deploy servers. 👍

Regarding merging of NICs v1.2, I totally understand the amount of work needed to do the

[2016-11-28 00:16] mingsheng36 commented on #66
Great! I dont know if this might be too much to ask, but can "image_type" be "computed"?

[2016-11-28 00:17] mingsheng36 commented on #65
Agreed.

[2016-11-28 00:22] tintoy commented on #66
I can do it, but only if you don't specify an image type. If you actually specify "auto" then if I reset it during deployment to the actual image type then Terraform will think it's changed and destroy / recreate the server during the next deployment.

I _could_ make the default for `image_type` an empty string, which _implies_ `auto` (and remove the value `auto` as a valid choice there). That way

[2016-11-28 00:30] tintoy commented on #64
Ok - try [v1.1.9](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.1.9). I've had to push the disk speed changes back to v1.2 (sorry about that but it's getting hard to maintain 2 branches - every change I have to make right now has to be applied against 2 increasingly-different codebases). But the rest of the things we discussed are in there (see the release not

[2016-11-28 00:35] mingsheng36 commented on #66
My little opinion - I see no point or use case where Users need to define whether it is OS image or Client image type (outcome - is to have the server deployed & running). Since you are able to make it "auto" which means it can be computed, should we leave it this way? (not allowing client to define) It looks more elegant, simple and also reduces the chances of human errors. (Putting a name or id

[2016-11-28 00:39] mingsheng36 commented on #64
No worries! :100:

[2016-11-28 00:41] tintoy commented on #66
Problem is, when you remove the ability to override, someone inevitably comes up with a scenario you can't handle (e.g. creating a customer image with the same name as an OS image). So I'm happy to try to work out what they mean as sensible default behaviour, but experience has taught me that software is hardly ever smart enough to satisfy the user and so they will sometimes want to override the c

[2016-11-28 00:57] mingsheng36 commented on #66
Make sense to me. :+1:

[2016-11-28 01:01] #58 closed, assigned to nobody

[2016-11-28 01:02] #11 closed, assigned to nobody

[2016-11-28 01:04] mingsheng36 commented on #66
I think the scenario where Users having the same name for Client && Default Images is quite impossible (given the fact that Client Images cannot contain "spaces" and all other Default Images contain spaces in their names). However, there are no official documentation on that and from what I know, spaces might be allowed for Client Images **_soon_** (while they are imported from OVF) hence there is

[2016-11-28 01:10] tintoy commented on #66
Interesting - hadn’t considered that :)

I think I’m comfortable with the implicit-defaults-that-you-can-explicitly-override approach for now; I think it strikes a decent balance between convenience and correctness.

[2016-11-28 01:13] mingsheng36 commented on #66
Yup. Well-said. esp on "implicit-defaults-that-you-can-explicitly-override". 💯

[2016-11-28 16:19] wninobla commented on #54
OK that makes more sense to me.  We don't get a load of people trying to use IPv6 in that sense since they are rather slow in the transition from traditional IPv4 address space.  Sounds to me between you and Adam we will want to get in a feature enhancement to the build.

________________________________
From: John Murray <notifications@github.com>
Sent: Wednesday, November 23, 2016 6:41 PM
To: Di

[2016-11-28 16:36] wninobla commented on #65
On this one I would perhaps wait on this since in the next Cloud Control release we will be changing rules on what OS support we will have which includes relaxing rules on OS standards.  This may or may not change how passwords are entered in general either in the cloud UI or from the API.

[2016-11-28 16:53] mingsheng36 commented on #65
NGOC (Non-Guest OS Customization) which is catagorized under Client Images won't be able to modify the admin_password at all as there are no customization, hence will not require any admin_password. Does it make sense?

[2016-11-28 16:58] mingsheng36 commented on #65
But I definitely agree that we should wait out for the next CloudControl release in December before releasing v1.2 and concurrently fix/enhance current build in the meantime. Any views? @tintoy @wninobla

[2016-11-28 17:00] wninobla commented on #65
?I'm still catching up on your hundreds of email updates... =)  But, I would recommend we do that so we ahve the formal API documentation that matchesup what the new behavior will be.  The comments I am seeing on this all I think is valid but seeing we have a different group coding the cloud control behavior unless we're plugged in there I'd rather you all wait a few days so you don't make somethi

[2016-11-28 18:57] tintoy commented on #54
(cough) This has already been implemented :)

On 29 Nov 2016, at 3:19 AM, wninobla

OK that makes more sense to me. We don't get a load of people trying to use IPv6 in that sense since they are rather slow in the transition from traditional IPv4 address space. Sounds to me between you and Adam we will want to get in a feature enhancement to the build.

[2016-11-28 19:00] tintoy commented on #65
Yeah - I’m waiting for their Picard release on this one :)

[2016-11-28 19:00] tintoy commented on #65
Sounds fair to me - gives us more time to test.

[2016-11-28 19:02] tintoy commented on #65
Yes - that’s the main reason I’ve always aimed to create a thin wrapper over CloudControl rather than trying to abstract it away. Otherwise their next release could suddenly change things in a way that our abstractions can’t handle.

[2016-11-29 13:32] mingsheng36 commented on #62
One last thing before I close this issue. Is it possible to remove the "force new" from primary & secondary dns? Reason is because these are configurable from the OS and does not make sense to re-deploy the VM because of update on the DNS entry? If there are updates to the primary & secondary DNS I think a prompt or reminder for them to change at OS will be good enough.

Also if the below validati

[2016-11-29 14:16] wninobla commented on #62
Not sure if I'm reading this right but changing the DNS values should not force a new deploy of new systems.  If I recall it wasn't that behavior in my deployments.  As for the the DNS fields in general, due to howTerraform is scoped out I would say that a change on one invites changes on both since this is a configuration toool for deployments and not one for OS changes.  That should be done via

[2016-11-29 14:34] mingsheng36 commented on #62
Hey Will, just tested it and it actually re-deployed my VM due to updates to the primary / secondary DNS. Went to look at the code and saw (force new) was "true". Was wondering what might be the reason @tintoy included that actually.

With regards to the new changes, here are the main ones that I could think of.
-Feature,  Add the ability to manage default firewall rules
- Enhancement, Primary_ada

[2016-11-29 14:41] mingsheng36 commented on #66
Seems like [CloudControl API v2.4](https://docs.mcp-services.net/display/CCD/API+2+-+Documentation+Downloads) just got released to public. Will have to take a look at it and see if it changes the design & implementation.

[2016-11-29 14:42] wninobla commented on #62
OK cool.  Those were the ones I expected actually so I thin kI am up to speed on these all.  I'm going to craft a few scenarios in GoCD to do some CI on the features.  If there are others we want to test let me know.  But, my aim is to do the following:

1)  Run a staging test or 'terraform plan' to gather results and spit it out to an out file

2) Run a production test or 'terraform apply 'plan.o

[2016-11-29 14:43] wninobla commented on #66
Yeah, R&D did that yesterday though the UI stuff is not there yet.  That is set for next week in preparation for the formal release.

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data
________________________________
From: Ming Sheng <notifications@github.com>
Sent: Tuesday, November 29, 2016 6:41 AM
To: DimensionDataResearch/dd-cloud-compute-terraform
Subject: R

[2016-11-29 14:45] mingsheng36 commented on #66
Thanks for the heads up Will. Really really really... needed the Cluster Awareness feature man.

[2016-11-29 14:51] wninobla commented on #66
Well it's aimed squarely at private deployments for now but it's a good step in the right direction.  I talked to product about that all re: public so hope that will come also.

[2016-11-29 15:14] mingsheng36 commented on #65
Okay, just tested using the Client Images to deploy servers. Everything is ok but just one thing: admin_password needs to be optional;
- When I specify using Client Image to deploy (which by default should not need password), provider prompt me to specify an "admin_password".
- But when I specify the admin_password (some random words in order to pass the provider validation), CloudControl validati

[2016-11-29 15:19] mingsheng36 commented on #64
#Okay, just tested using the Client Images to deploy servers. Everything is ok but just one thing: admin_password needs to be optional;
- When I specify using Client Image to deploy (which by default should not need password), provider prompt me to specify an "admin_password".
- But when I specify the admin_password (some random words in order to pass the provider validation), CloudControl validat

[2016-11-29 15:20] #64 closed, assigned to tintoy

[2016-11-29 15:40] mingsheng36 commented on #62
Some add-ons from me with regards to the number 2) production test.

- Different Geos for deployment (across regions)
**- Different Datacenters for deployment (within same regions)
- Different Network Domains for deployment (within same datacenter)**
- Running against Windows 32 & 64-bit and Linux 64-bit providers manually setting version type (basically pulling a version so we can test it out)
-

[2016-11-29 15:50] wninobla commented on #62
Yeah no the multi data center in same geo as well as regional deployments are on the plan as the scripts are written that way to accept variables to segregate the builds.  On 32-bit it may be hard to do that buy I can more than certainly try to maintain that version on say a Windows 2008 non-R2 release.

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data

________

[2016-11-29 15:59] mingsheng36 commented on #62
Understand that, but some issues come by when you run them altogether (e.g. sequence deployment) or separately. Few example might be "time-out" issue, "retry" issue and simultaneous deployment issue like we had before #57 #59 which we then know we needed #61

[2016-11-29 16:00] mingsheng36 commented on #62
Ah. Ignore my previous post. With regards to 32-bit, I am perfectly fine with taking that out. Cheers!

[2016-11-29 16:01] wninobla commented on #62
?Yeah - I set depends_on on teh resources as I know for instance the VLAN creation is a process where it can only create a singular VLAN at a time due in part to how it has to run on the backend and apply amongst other things the VPN policy by applying the newly created networks to the user profiles for a user account.  Still, its a good point to oversee.

Regards,

William Ninobla
Sr. Solutions A

[2016-11-29 16:01] wninobla commented on #62
?OK so noted though if we're running a broader set of OS versions in our cloud I may as well maintain it until we stop developing the 32-bit iteration.  You can take the MacOS version on if you like... =)

Regards,

William Ninobla
Sr. Solutions Architect
Cloud Business Unit
Dimension Data
________________________________
From: Ming Sheng <notifications@github.com>
Sent: Tuesday, November 29, 2016

[2016-11-29 16:06] mingsheng36 commented on #62
Sure. Till I invest in a MacBook. Alright, we shall not spam our unrelated posts in this issue and probably should delete our comments. I am going to start with mine.

[2016-11-29 18:38] tintoy commented on #65
Thanks! Can you post full logs (MCP_EXTENDED_LOGGING=1) from where supplying a password failed?

On 30 Nov. 2016, at 2:15 am, Ming Sheng <notifications@github.com<mailto:notifications@github.com>> wrote:

Okay, just tested using the Client Images to deploy servers. Everything is ok but just one thing: admin_password needs to be optional;

  *   When I specify using Client Image to deploy (which by

[2016-11-29 18:45] tintoy commented on #62
Hmm, I think this might be due to a mismatch in expectations. What `ForceNew` implies is that you can't change a value after the resource has been created. In this case, you can't ask CloudControl to change the DNS IPs because that only works during deployment.

So how do we communicate to the user that `primary_dns` and `secondary_dns` cannot be modified (via Terraform at least) after deployment?

[2016-11-29 18:46] tintoy commented on #62
BTW, @mingsheng36, cross-property validation cannot be done during the `plan` stage. Only during `apply` (Terraform limitation unfortunately).

[2016-11-29 18:50] wninobla commented on #62
Actually that makes sense now that I think about it as the DNS values are considered database values from the cloud UI standpoint.  It just so happens that it will use the guest OS customization to deploy that initially.  Changes to the values because of that will then precipitate a new server build.  TheIpv4 address may be different as it uses the VM tools to change stuff but its not at all consi

[2016-11-29 18:50] tintoy commented on #62
But I believe we _could_ validate those 2 properties against each other if we moved them down a level:

[code]

Then we can have an overall validator for the `dns` property that checks values for `primary` and secondary`.

[2016-11-29 19:14] tintoy commented on #62
Actually, no, it looks like we can't (just checked the Terraform source code, it you can't have `plan`-time validation for Map-type properties. Ugh. Sorry, this is in the too-hard basket for now. We'll have to stick with doing any and all cross-property validation at `apply`-time.

Having said that, I could make the entire `dns` property optional but then make both its `primary` and its `secondary

[2016-11-30 01:29] mingsheng36 commented on #62
I would agree with @tintoy and choose to go with both or nothing.

Single Primary DNS i think is quite uncommon to me. But @wninobla might have some opinion on that? :)

[2016-11-30 03:39] tintoy commented on #62
I'm closing this issue, but we can create a new issue for the enhancement to split up the DNS fields so they're either both required or neither.

[2016-11-30 03:39] #62 closed, assigned to tintoy

[2016-11-30 03:45] tintoy commented on #63
This can now be tested in [v1.2-preview1](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2-preview1).

[2016-11-30 16:20] mingsheng36 commented on #63
Okay. Tested and seems like it can only create two disk at most.

[code]
![image](https://cloud.githubusercontent.com/assets/5947212/20760721/adb7f860-b75b-11e6-8a90-8fdab268942f.png)

ddcloud-terraform-provider --> v1.2-preview1
terraform --> v0.7.13

[2016-11-30 16:25] wninobla commented on #63
Another one to add to my test script as I didnt test adding multiple disks.  Good catch!

________________________________
From: Ming Sheng <notifications@github.com>
Sent: Wednesday, November 30, 2016 8:20 AM
To: DimensionDataResearch/dd-cloud-compute-terraform
Subject: Re: [DimensionDataResearch/dd-cloud-compute-terraform] Support for Disk Speed on Primary Disk ONLY (#63)

Okay. Tested and seems

[2016-11-30 19:26] tintoy commented on #63
Can you run with extended logging and attach your log?

[2016-11-30 21:43] tintoy commented on #63
Ok - have found a couple of bugs (I blame almost 19 hours straight of coding + debugging) and will create a new release once I've tested them.

That's the painful part, of course - it takes around 20 minutes to perform any useful test of server deployment and if the last change hasn't fixed the problem (or shown what the problem is, even) then that's another 25 minutes to try again :(

[2016-12-01 06:24] mingsheng36 commented on #63
Hey @tintoy , really appreciate for those quick fixes, commitment and taking the feedbacks so positively. So  I have tested the disk. Below are the results.

- Deploy disks with different size and speed, OK
- Deploy additional disks with different size and speed, OK
- Update disks size, error
- Update disks speed, error
- Destroy addtional disks, OK

ddcloud-terraform-provider --> v1.2-preview2
te

[2016-12-01 06:28] tintoy commented on #63
Thanks!

Yeah not surprised update doesn’t work yet.

[2016-12-01 06:35] tintoy commented on #63
Hmm, I can't reproduce that one - could you send me the configuration you're working with?

[2016-12-01 06:38] mingsheng36 commented on #63
[code]

[2016-12-01 06:40] tintoy commented on #63
Thanks.

And you get the error by running `terraform apply` then running `terraform apply` again?

[2016-12-01 06:51] mingsheng36 commented on #63
Hmm, for the update disk part I can re-create the update part and send u the logs again. I guess the log that I have sent have alot of un-related details.

[2016-12-01 07:00] tintoy commented on #63
I'm more interested in the steps you took to get there :)

[2016-12-01 07:16] mingsheng36 commented on #63
So the steps are as of below (might not be exactly same as the log because of other tests)
1. Deploy 3 x disks with different size and speed at server deployment
2. Deploy another 3 x additional disks with different size and speed
3. Update one of the disk size
4. Update one of the disk speed
5. Destroy one of the disk

[2016-12-01 07:20] tintoy commented on #63
Thanks! I'll give that a try. So it sounds like adding disks is OK, but changing them is not? I suspect I may know why but let's see...

[2016-12-01 07:29] tintoy commented on #63
Ok - yeah, it was because I modelled the disks as a set rather than a list (so Terraform fails to match up the configured disk with its persisted state because changed properties make it look like a different disk).

I'll put up a new build shortly.

[2016-12-01 07:44] tintoy commented on #63
Ok - give [v1.2-preview3](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2-preview3) a try :)

[2016-12-01 07:44] tintoy commented on #63
Note - if you have an existing terraform.tfstate you'll want to destroy any `ddcloud_server` instances before upgrading. Sorry about that.

[code]

[2016-12-01 07:45] mingsheng36 commented on #63
thats the least concern for now :+1:

[2016-12-01 10:02] tintoy commented on #56
This feature is sufficiently mature to be merged back into the v1.2 branch.

[2016-12-01 10:12] mingsheng36 commented on #63
Ok, I think we are good to close this. But one last thing, Is it possible to add the below validation?

- Validate to ensure scsi_unit_id "0" is not missing. (CloudControl is able to validate this so it is OK)
- Validate when updating the "scsi_unit_id" to an already exist "scsi_unit_id" (Currently it removes the disk (force new) that is to be updated first, then it will attempt to re-deploy the d

[2016-12-01 10:17] tintoy commented on #63
That’s worth fixing - I’ll look into it tomorrow.

[2016-12-01 15:02] mingsheng36 commented on #56
@tintoy  After the disks issues are solved, I have moved on to test the network adapters. Currently have two issues I think needs to be solved for now (before Picard release).
- Unable to specify index for "network_adapters"
- When updating additional NIC, it will re-deploy the server. (which should only remove the current NIC and add back the NIC with the updated configuration) For "type", I thin

[2016-12-01 15:05] mingsheng36 commented on #56
Hmm.. Picard also supports exchanging NIC VLANs.. So I guess we might need to wait a few days for Picard to roll-out before working on this issue.

[2016-12-01 15:16] mingsheng36 opened #69 "Enhancement to split up the DNS fields to be either both required or neither"
As a follow up to #62.

[2016-12-01 15:47] #69 closed, assigned to nobody

[2016-12-01 19:25] tintoy commented on #56
Yeah, index is no longer a valid property - instead, the adapter's index is derived from its position in the configuration.

[2016-12-01 19:26] tintoy commented on #56
As for switching VLANs we can support that in a subsequent release :)

[2016-12-01 19:26] tintoy commented on #56
I'll update the docs for index.

[2016-12-01 19:28] tintoy commented on #56
Updating a network adapter shouldn't force a new resource though - that sounds like a bug. I'll have a look into it.

[2016-12-01 19:38] tintoy commented on #56
Actually, the docs have already been updated (RE: index).

[2016-12-01 22:04] tintoy commented on #56
@mingsheng36 - I don't think that's a bug; changing the VLAN or adapter type _will_ force re-deployment. This is by design because the v2.3 CloudControl API (which is what we use) doesn't support that either.

Later, when we _do_ use the newer CloudControl APIs we can change this.

[2016-12-01 22:42] tintoy commented on #65
Ok - this will be in v1.2.

[2016-12-03 03:45] tintoy commented on #56
Ok, @mingsheng36 and @wninobla - turns out updating the network adapters is much _much_ harder than I initially expected it to be. The problem is that if you have 3 adapters, and then remove the second adapter, Terraform just chops off the last adapter from the list it presents to us as the current state. I'm going to have to play around with this for a while, but I suspect the behaviour is going

[2016-12-03 03:55] mingsheng36 commented on #56
Hmm. I initially thought that network_adapters should behave like disks and also suppose to have the same logic as disk? e.g. When you remove a disk, it will remove any disk in that position?

[2016-12-03 03:58] mingsheng36 commented on #56
To answer your question i think removing and re-adding a network_adapter will cause alot of issue in the OS. Like for example RHEL, they will increment the network_adapter count (eth0 --> eth1) and OS admin will have to re-configure the NIC again.

[2016-12-03 04:07] tintoy commented on #56
Disks are identified by SCSI Unit ID, but yes it's a problem. So as I see it, we have a couple of choices:

* Prevent removal of network adapters
I reckon this is pretty much a non-starter
* Document the limitation, indicating that you will get undefined behaviour if you remove any adapter(s) that aren't the last (N) adapter(s). Document what is and isn't supported. A bit ugly, I reckon.
  * If yo

[2016-12-03 04:10] tintoy commented on #56
Note how they deal with this for the AWS provider:

https://www.terraform.io/docs/providers/aws/r/instance.html#block-devices

Making any changes to the disks means the EC2 instance will be destroyed and recreated.

[2016-12-03 04:14] tintoy commented on #56
And Azure ARM provider doesn't support update of VMs at all (only destroy and recreate).

[2016-12-03 04:20] tintoy commented on #56
After examining the docs and code for most of the other Terraform providers written by Hashicorp, it's clear that none of them really support messing around with disks and network adapters to this degree. I'm guessing it's because Terraform's state data model can't really cope with these sorts of changes properly. So perhaps we're trying to be too clever here by half.

So yes - it's looking like o

[2016-12-03 04:31] wninobla commented on #56
Personally, due to the OS limitations as well as the initial design goals of the DD cloud provider with Terra form, I'd say this is considered a change dual to say patching a box.  So, you either treat it with a different method like Chef or you destroy and recreate the asset.  If we look at it as immutable assets we should as ourselves which have a are considered minor vs which ones require destr

[2016-12-03 04:38] tintoy commented on #56
I agree with you @wninobla, and not _just_ because it suits me :wink:

I think we've hit a limitation of what Terraform itself is capable of, and I don't see it as being all that worthwhile to change given the limited benefits at this stage. If Terraform itself someday improves its support for this kind of thing then we can revisit it.

To be honest, I'm probably OK with marking the entire `networ

[2016-12-03 05:16] mingsheng36 commented on #56
I beg to differ. Understand that it is the limitation of terraform and it was not designed to handle this kind of change, but I hope we would not go with the bottom-up approach towards the design of this provider.

Nonetheless, if going with option 3 allows us to update and delete NIC without causing any deletion to unnecessary items from existing server, I would gladly vote for it as it can achie

[2016-12-03 05:21] tintoy commented on #56
No, I'm open to option 3 as well - @kumarappanc already did this work a while back (`ddcloud_server_nic`), and it was only after others asked if we could merge it into `ddcloud_server` so they didn't have to track 2 different resources for the server's network adapters that we did this work.

The main advantage of having all adapters in `ddcloud_server` is that we can deploy the server with all of

[2016-12-03 05:25] tintoy commented on #56
I imagine that different types of consumer will have different use cases, and therefore different priorities.

We could make the primary network adapter part of `ddcloud_server` and then have a `ddcloud_network_adapter` instance for each additional network adapter in the server.

This will allow all network adapters to be managed separately (as @kumarappanc did in the first place) but it will also

[2016-12-03 05:28] tintoy commented on #56
BTW, it's not just AWS - its also Azure (both SRM and ARM), GCE, Digital Ocean, etc. This seems to be the state of the art for now.

Also, believe it or not, the designs aren't that different from what I've been able to observe - certainly an Azure VM has network adapters that are attached to VLANs.

[2016-12-03 05:38] mingsheng36 commented on #56
If we have to sacrifice the deploying of of additional network_adapters during deployment VS supporting CRUD of network adapter, I would choose the later. Having longer deployment time (a few mins) is not a concern in my opinion, since it is automated and the difference is not that huge. My main concern is the need to manually configure the network_adapters at the OS, however I think this can be s

[2016-12-03 05:41] tintoy commented on #56
Noted :)

[2016-12-03 05:42] tintoy commented on #56
BTW it's more than a few minutes - if the server is running before you start it could be 30 mins or more if you have a lot of NICs to add or change.

[2016-12-03 05:44] mingsheng36 commented on #56
I see. Pardon me as I might be wrong here but re-deploying a whole server because of network configs does not make any sense to me for MCP as you know we do not have something like EBS.. if our server is deleted, there goes our disks and data too..

[2016-12-03 05:51] mingsheng36 commented on #56
So far from my own experience, the most number of NICs I have added to a server is 3.. And I think adding a NIC is quite fast? Might be 3mins per NIC and 30minutes max like what you mentioned, but I think this is a rare and extreme case as too much NIC will choke up the server resources

[2016-12-03 06:11] tintoy commented on #56
Yeah - that's a fair point. I can see for some scenarios that's a non-starter.

[2016-12-03 06:11] tintoy commented on #56
True.

On 3 Dec. 2016, at 4:51 pm, Ming Sheng <notifications@github.com<mailto:notifications@github.com>> wrote:

BTW it's more than a few minutes - if the server is running before you start it could be 30 mins or more if you have a lot of NICs to add or change.

So far from my own experience, the most number of NICs I have added to a server is 3.. And I think adding a NIC is quite fast? Might be

[2016-12-03 06:57] mingsheng36 commented on #56
@tintoy Hope my comments helps you with the decision :) and BTW, really appreciate the effort to improve this!

[2016-12-03 07:10] tintoy commented on #56
For sure - great to get feedback on how it's used in the real world :)

[2016-12-03 07:30] tintoy commented on #56
BTW, there is a 4th option - support both (but not in combination).

* You can always modify (but never add / remove) the primary network adapter on a `ddcloud_server` (exposed as `primary_network_adapter`).
* You can specify additional NICs as `additional_network_adapter` on `ddcloud_server` but then they are immutable after deployment.
* Otherwise, you can specify the primary adapter on the `ddc

[2016-12-03 08:02] mingsheng36 commented on #56
I don't know about others, but my opinion is to standardize with option 3 only.
- It will save effort on on the codes and maintainability
- It is also less complex to understand for users

Also, might want to wait till Picard release (API v2.4) before working on this? As there might be changes that could be included in terraform.

What do you think @tintoy ?

[2016-12-03 08:45] tintoy commented on #56
Already using it for some things - that's why MAC address and adapter type are now computed from current state :)

No VLAN switch for now though...

[2016-12-03 08:47] tintoy commented on #56
FWIW, AWS and other providers also support the dual-use pattern. But I'll see what's involved - if we can share code between then it might be ok.

[2016-12-03 09:37] mingsheng36 commented on #56
Thats fast! 💯

[2016-12-03 23:13] tintoy commented on #56
Ok @mingsheng36 and @wninobla. After seeing the various use-cases people have, I've decided to support both :)

Next build will have it.

[2016-12-03 23:55] tintoy commented on #56
Now available in [v1.2-preview5](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2-preview5).

[2016-12-05 01:50] wninobla commented on #56
Nice - and I barely said anything... =)  I really need to test some of these things out now.  This coming week is for that.  =)

[2016-12-05 05:36] mingsheng36 commented on #56
@tintoy Seems like adapter "type" is missed out for both schema?

[https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.2/docs/resource_types/server.md](url)

[https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.2/docs/resource_types/network_adapter.md](url)

[2016-12-05 05:46] tintoy commented on #56
Sorry, I'm not sure what you mean - the pages you link do show the adapter type:

![adapter_type_1](https://cloud.githubusercontent.com/assets/1646284/20874908/4b3d9c00-bb0a-11e6-8c32-20d749338ab0.jpg)
![adapter_type_2](https://cloud.githubusercontent.com/assets/1646284/20874911/54bbc040-bb0a-11e6-92eb-5aabf4f9aef2.jpg)

[2016-12-05 06:21] tintoy commented on #56
Are you on the v1.2 or v1.0 branch? This is v1.2-only.

[2016-12-05 14:28] mingsheng36 commented on #56
I am on 1.2 branch. My apologies for not going through all the document, was looking at the example actually. :(

![image](https://cloud.githubusercontent.com/assets/5947212/20888450/058be344-bb3a-11e6-9128-7c4cb14df380.png)

Thanks!

[2016-12-05 15:32] mingsheng36 commented on #66
Question: When I deploy customer images, do I need to specify the type?

The config below gives no error, but if I do not specify the "type" it shows terraform crashed
[code]

The config below works fine for default images which I thought was supposed to be the same for customer images
[code]

[2016-12-05 19:46] tintoy commented on #66
Definitely shouldn't need to specify it - defaults to auto. Can you post the log?

[2016-12-05 21:17] tintoy commented on #66
Sorry but it's not that simple - because we fall back from OS to Customer and never the other way around, we need to give them the ability to override that.

Sensible defaults, but they can be overridden for the rare cases where that's necessary. So yes - default is to omit image type but the option is there to be explicit.

On 28 Nov. 2016, at 11:35 am, Ming Sheng <notifications@github.com<mailto

[2016-12-05 21:53] tintoy commented on #66
Never mind - I can reproduce that. Looks like a pretty stupid bug, will fix shortly.

[2016-12-05 22:12] tintoy commented on #66
BTW, I am considering collapsing the `image` block to just 2 properties:

[code]

If `image` is a valid GUID, it will treat it as an image Id, otherwise, it will treat it as an image name.

@mingsheng36 @wninobla - what do you reckon? It looks cleaner to me.

PS. Haven't made this change yet, just thinking out loud.

[2016-12-05 22:37] tintoy commented on #66
Ok, @mingsheng36 @wninobla [v1.2.0-alpha1](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2.0-alpha1) is ready - feel free to play around and let me know what's broken :)

[2016-12-06 00:13] mingsheng36 commented on #66
I am fully with you on this. Looks much more cleaner!

[2016-12-06 01:11] tintoy commented on #66
Ok then - that's how it will work in alpha2 :)

[2016-12-06 03:17] kumarappanc opened #71 "ports property in ddcloud_port_list resources cause the terraform to crash"
When applying the following resource terraform crashes

[code]

[code]

When I use the port option instead of ports, it works.

[2016-12-06 03:38] tintoy commented on #71
Hi.

It's a list of strings not a list of integers (try `"80"` instead of `80`), so technically this behaviour is by design. This is because all other port values (e.g. in firewall rules) in our resources are specified as strings (mainly because in some places, `any` is a valid port).

Having said that, I understand that it could be confusing so I'm open to switching them to purely integers. Is th

[2016-12-06 03:42] tintoy commented on #71
Actually, looking at the documentation it already shows examples where they ports are integers. I'm just going to switch it over to being integers. This will be fixed in v1.2 but if you need to keep working for now, just wrap each port in quotes (e.g. `"80"` instead of `80`) and you'll be good to go. Later when you upgrade to v1.2 you can simply remove the quotes and everything will keep working.

[2016-12-06 03:45] wninobla commented on #71
I don't think we can use a port list here unless we explicitly keep each group of ports explicit.  In the case of doing noncontinuous ports like in the simple example, you'd have to parse it out that way.  May be easy to change on your end but I'm not the one coding.  😀. I am good so long as I know what it expects integer vs. a string.

[2016-12-06 03:46] wninobla commented on #71
Ok you answered my question on the same note... Lol

[2016-12-06 03:47] kumarappanc commented on #71
Even the string values doesn't work.

It looks like the problem is in the following function

func (helper resourcePropertyHelper) GetIntSetItems(key string) (items []int) {
	value, ok := helper.data.GetOk(key)
	if !ok || value == nil {
		return
	}
	rawItems := value.(*schema.Set).List()

	items = make([]int, len(rawItems))
	for index, item := range rawItems {
		items[index] = item.(int)
	}

	retu

[2016-12-06 03:47] tintoy commented on #71
There are actually 2 ways to configure ports in a `ddcloud_port_list`:

1. [Simple](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.2/docs/resource_types/port_list.md#simple) (just a list of ports)
2. [Complex](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.2/docs/resource_types/port_list.md#complex) (port ranges, etc

[2016-12-06 03:48] tintoy commented on #71
@kumarappanc Ugh. Sorry, I'll have to fix that.

Give me 5 mins and I'll see if I can build a hotfixed version of 1.1.x.

[2016-12-06 03:57] tintoy commented on #71
Ok @kumarappanc - can you give [v1.1.10](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.1.10) a try?

[2016-12-06 04:44] tintoy commented on #71
BTW, I've updated the [acceptance tests](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.2/vendor/ddcloud/resource_port_list_test.go) for `ddcloud_port_list` - they work correctly now.

[2016-12-06 06:58] mgoldsmi opened #72 "Creating ip_address_list using complex example fails"
When creating an ip_address_list using the complex example in the documentation (https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.2/docs/resource_types/address_list.md) fails with status code 400 (INVALID_INPUT_DATA) error.

ddcloud_address_list.test_list: Creating...
  address.#:             "" => "3"
  address.0.begin:       "" => "192.168.1.1"
  address.1.

[2016-12-06 07:00] tintoy commented on #72
Thanks for the detailed report! Sorry for the inconvenience - I'll look into this ASAP.

[2016-12-06 07:33] tintoy commented on #72
Hi @mgoldsmi - I've found and fixed the problem (thanks for reporting it). I'll get a new build out shortly that includes this fix.

[2016-12-06 07:39] tintoy commented on #72
Ok, should be fixed in [v1.2.0-alpha3](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2.0-alpha3).

I've also updated our acceptance-test suite to ensure that won't happen again.

[2016-12-07 02:09] mgoldsmi commented on #72
Thanks for the quick turn around. Can now create dd_address_list with network address and mask. However the #v1.2.0-alpha3 build appears to have reverted the new ddcloud_server.image (#66) change.

$ terraform plan
There are warnings and/or errors related to your configuration. Please
fix these before continuing.

Errors:
  * ddcloud_server.vpn-server: image must be a single value, not a list

$ t

[2016-12-07 02:21] tintoy commented on #72
Actually that's correct - it is a single value, let me check the docs to see if they are up to date...

[2016-12-07 02:26] tintoy commented on #72
Sorry, I think you may have been caught out by an early change we made where the image _was_ of the form `image { name = "xxx" type="yyy" }` but after user feedback we simplified it to just `image = "xxx"` (and optionally `image_type="yyy"`).

If you want a working example, take a look [here](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/8ad420f99ba082abc94c9b194f9c2853a

[2016-12-07 02:26] tintoy commented on #72
(again, sorry for the confusion / inconvenience - we're pretty sure we have the final schema locked down now so there shouldn't be any further breaking changes)

[2016-12-07 03:24] mingsheng36 commented on #66
@tintoy Seems like it is still crashing when using **Client Images** to deploy.

[code]
Terraform - v0.7.13
terraform-provider-ddcloud - v1.2.0-alpha3

[2016-12-07 03:52] tintoy commented on #66
Log?

[2016-12-07 03:57] tintoy commented on #66
Ok, so it looks like it works if you specify `image_type="customer"` but not if you specify `image_type="auto"` or omit `image_type` entirely.

[2016-12-07 04:17] mgoldsmi commented on #72
All good. Correction is working for me.

[2016-12-07 04:17] #72 closed, assigned to tintoy

[2016-12-07 04:18] tintoy commented on #66
Ok - will be fixed in the next build.

[2016-12-07 04:25] tintoy commented on #66
[v1.2.0-alpha4](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2.0-alpha4)

[2016-12-07 06:01] tintoy commented on #71
Verified in alpha4.

[2016-12-07 06:01] #71 closed, assigned to tintoy

[2016-12-07 06:12] tintoy commented on #63
BTW, disk with unit 0 will come from the image so we're good there.

[2016-12-07 06:16] tintoy commented on #63
Verified in alpha4, and the duplicate-unit-Id check will be in the next release (beta1).

[2016-12-07 06:39] tintoy commented on #63
[v1.2.0-beta1](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2.0-beta1)

[2016-12-07 06:40] tintoy commented on #63
Verified in beta1.

Feel free to reopen (or open a new issue) if you find any (other) problems.

[2016-12-07 06:40] #63 closed, assigned to nobody

[2016-12-07 06:41] tintoy commented on #65
Verified in [v1.2.0-beta1](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2.0-beta1).

[2016-12-07 06:41] #65 closed, assigned to tintoy

[2016-12-07 06:42] tintoy commented on #56
Verified (manually and via automated acceptance tests) in [v1.2.0-beta1](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2.0-beta1).

[2016-12-07 06:42] #56 closed, assigned to tintoy

[2016-12-07 06:42] tintoy commented on #66
Verified (manually and via automated acceptance tests) in [v1.2.0-beta1](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2.0-beta1).

[2016-12-07 06:42] #66 closed, assigned to nobody

[2016-12-07 08:12] tintoy opened #73 "State import for ddcloud_network_domain"
Implement Terraform state import for `ddcloud_network_domain`.

- [x] Implementation
- [x] Documentation

Relates to #29.

[2016-12-07 08:54] mgoldsmi opened #74 "additional_network_adapter always forces new resource"
After successfully creating a service resource, when I re-run the plan I get the output below. It would appear that the recent implementation of the additional_network_adapter is causing servers to always be rebuilt.

$ terraform plan
Refreshing Terraform state in-memory prior to plan...
The refreshed state will be used to calculate this plan, but will not be persisted to local or remote state sto

[2016-12-07 08:56] tintoy commented on #74
Hi :)

This should be fixed in beta1 (which is out now). Sorry about that.

[2016-12-08 03:03] denibenji89 opened #75 "Error occur while creating vip node and vm concurrently"
I've encounter errors in several instances while creating a plan with vip. As vip deployment takes precedent over server deployment, thus when assigning node to vip pool, it result in an error as the server to act as a node.
Benjamin Chan

[2016-12-08 03:25] tintoy commented on #75
Hi @denibenji89 - would you mind posting the configuration you're using (minus anything sensitive)? I'd like to replicate your issue as closely as possible.

Also, can you tell me what version of Terraform (`terraform -version`) and the CloudControl provider (`terraform-provider-ddcloud --version`) you're using?

[2016-12-08 03:26] tintoy commented on #75
Oh, and could you post the error message you're seeing?

[2016-12-08 03:34] tintoy commented on #75
BTW, Terraform tries to create as many resources in parallel as it can, subject to dependencies between those resources (e.g. it will never create server before network domain because server references network domain's `id` property in its `networkdomain` property, thereby establishing a dependency).

If your `ddcloud_vip_node` doesn't reference any properties of your `ddcloud_server`,  then Terra

[2016-12-08 03:37] tintoy commented on #75
Oh, and if you want more information about resource dependencies, have a look here:

https://www.terraform.io/intro/getting-started/dependencies.html

[2016-12-08 05:16] denibenji89 commented on #75
[ben.zip](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/files/638475/ben.zip)
![error](https://cloud.githubusercontent.com/assets/23732050/20998408/908caed2-bd48-11e6-8e86-fa883424a3e5.PNG)

[2016-12-08 05:19] denibenji89 commented on #75
Hey Adam, I've attached the configuration file and error message. Your suggestion should be right as I'm missing the "depend_on" for vip pool member.

[2016-12-08 05:24] denibenji89 commented on #75
I'm working on the version 1.2 . I like to apologize that I did not read up much prior to posting such issues.

[2016-12-08 05:26] tintoy commented on #75
Not a problem - happy to help :)

BTW, the other error (`RESOURCE_BUSY`) is something I'd like to fix before v1.2 goes out. Thanks for reporting this!

[2016-12-08 21:05] tintoy commented on #74
Hi. I've verified this in beta1. Feel free to reopen if that doesn't fix it for you.

[2016-12-08 21:05] #74 closed, assigned to nobody

[2016-12-08 21:43] tintoy commented on #75
FYI - the `RESOURCE_BUSY` error has been fixed for beta 2 (not out yet).

[2016-12-08 22:43] tintoy commented on #73
This currently doesn't work because `terraform import` results in empty provider configuration.

I've asked the Hashicorp folks about it via [terraform#10623](https://github.com/hashicorp/terraform/issues/10623).

[2016-12-08 23:58] tintoy opened #76 "Consider adding source_vlan property to ddcloud_firewall_rule"
Could a VLAN Id, and automatically calculates the source address.

Also add to `ddcloud_network_domain.default_firewall_rule`.

[2016-12-08 23:59] tintoy opened #77 "Expose os_type property on ddcloud_server"
Computed from the source image.

[2016-12-09 02:48] tintoy commented on #73
From the look of [this commit](https://github.com/hashicorp/terraform/commit/f8ec7dad192d47e5933cbb83b5a4bea7ad513683), state import isn't going to work for us until Terraform v0.8 is released.

[2016-12-10 05:14] mingsheng36 opened #78 "Terraform shutting down ddcloud_server after 2nd "apply" even without changes"
1. Deployed a first server with "auto_run=TRUE" using _apply_
2. Once successfully deployed, added another ddcloud_server
3. Run _apply_ again and it automatically shuts down the first server although it did not have any changes/updates.

[2016-12-10 05:24] mingsheng36 opened #79 "Destroying servers directly instead of removing all the NICs first"
Is it possible to delete servers directly and skipping the deletion of the NICs? In CloudControl the server can be deleted regardless of how many NICs are still attached to it

Just a minor enhancement suggestion, if it requires too much effort please drop it.

[2016-12-10 05:36] tintoy commented on #79
Do you mean when the NICs are separate resources? If so, sorry but Terraform doesn't work like that - the network adapter resource doesn't know what the server resource is doing...

On 10 Dec. 2016, at 4:24 pm, Ming Sheng <notifications@github.com<mailto:notifications@github.com>> wrote:

Is it possible to delete servers directly and skipping the deletion of the NICs? In CloudControl the server ca

[2016-12-10 05:36] tintoy commented on #78
Could you attach a log file?

[2016-12-10 07:19] #78 closed, assigned to nobody

[2016-12-10 07:19] mingsheng36 commented on #78
Mistakes from my side :) Sorry for the trouble

[2016-12-10 07:20] mingsheng36 commented on #79
Alright, understood.

[2016-12-10 07:20] #79 closed, assigned to nobody

[2016-12-10 07:46] mingsheng36 opened #80 "Update NIC type to restart and not re-deploy server"
[code]

Understand this is a new functionality and behavior from CloudControl v2.4, just curious if this feature can be included?

terraform --> v0.7.13
provider --> v1.2.0-beta1

[2016-12-10 08:56] mingsheng36 commented on #80
Apologize, my in-line comments might be confusing on top, below is the correct behavior currently
[code]

terraform --> v0.7.13
provider --> v1.2.0-beta1

[2016-12-10 08:57] tintoy commented on #80
I don't think you *can* change the NIC type at present. Can the 2.4 API do it?

[2016-12-10 09:13] mingsheng36 commented on #80
Yup, it can be done. Page 315 of the CloudControl Document.

[2016-12-10 09:16] tintoy commented on #80
Ok - next week's pretty busy but I'll try to squeeze it in.

[2016-12-10 09:17] mingsheng36 commented on #80
No worries, thanks! @tintoy

[2016-12-12 08:42] tintoy commented on #78
No trouble at all ;)

[2016-12-12 08:48] tintoy commented on #80
Should be working in [v1.2.0-beta2](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.2.0-beta2) but I've had time to do only minimal testing (so no guarantees).

* Can now change `type` for `primary_network_adapter` in `ddcloud_server`.
* Can now change `type` for `ddcloud_network_adapter`.

Anything else is still immutable by design.

[2016-12-18 19:14] tintoy opened #81 "Use unique names Network Domains and VLANs in acceptance tests"
Use the `random` resource type to add a numeric suffix to the names. Modify verification functions to take account of this.

- [ ] Data sources
  - [ ] `ddcloud_networkdomain`
  - [ ] `ddcloud_vlan`
- [ ] Resources
  - [ ] `ddcloud_networkdomain`
  - [ ] `ddcloud_vlan`
  - [ ] `ddcloud_server`
  - [ ] `ddcloud_firewall_rule`
  - [ ] `ddcloud_address_list`
  - [ ] `ddcloud_port_list`
  - [ ] `ddclo

[2017-03-26 22:37] tintoy opened #83 "When specifying both IPv4 address and VLAN Id for a network adapter, validate that IPv4 address lies within VLAN's network address space"
As noted by @kumarappanc, there's currently no cross-check for this and it can lead to weird behaviour because we actually ignore the VLAN Id if the IPv4 address has been supplied (we sometimes saw unacceptably odd behaviour from CloudControl when specifying both).

[2017-04-17 06:49] tintoy opened #84 "Add support for storage controllers"
The Q release (v2.5) of the CloudControl API has introduced support for explicitly controlling the storage controllers in a deployed server.

Because the behaviour of disk management when using custom storage controllers diverges from the existing behaviour, storage controllers and their disks will be managed via a separate `ddcloud_storage_controller` resource type:

[code]

For a given `ddcloud_

[2017-04-17 06:52] tintoy commented on #84
CC: @kumarappanc @mingsheng36 @wninobla @jeffstoner @johnamurray @alexbacchin @manishkp @BenObermayer

Your input would be appreciated, both regarding this design and the trade-offs it involves.

[2017-04-17 07:37] tintoy commented on #84
A possible alternative for the design might be to rely on the fact that disks which don't explicitly specify a controller Id are always created against controller 0 (the default controller).

[code]

In this model, the provider always uses the CloudControl APIs for disks to target a specific controller (rather than the old-style APIs), but `disk` entries that don't specify a controller are assumed

[2017-04-17 08:00] tintoy opened #85 "Add support for deploying uncustomised servers"
The Q release (v2.5) of the CloudControl API has introduced support for deploying servers without guest OS customisation.

This API is somewhat different to the standard API for deploying servers but some basic abstraction could probably be implemented.

Maybe add a `disable_customization` property to `ddcloud_server`?

See also:

* DimensionDataResearch/go-dd-cloud-compute#14
* DimensionDataResea

[2017-04-17 15:33] jeffstoner commented on #84
Given what's coming in the R release (support for IDE/SATA,) there may be another jumbling of the storage subsystem metadata. The design phase of this is currently on-going, so I can't comment on exactly what changes are happening (because they're very much in-flux) but we should be careful with the modeling - might want to consider using "disk type" structures that cater to the bus they're attach

[2017-04-17 15:37] jeffstoner commented on #84
There are (currently) 4 storage adapters supported by the platform:

There are four adapters supported by vSphere:
* BusLogic Parallel - This was one of the first two emulated vSCSI controllers made available in the VMware platform, and remains commonly used on older version of Windows as the driver is available by default.
* LSI Logic Parallel - This was the other emulated vSCSI controller made a

[2017-04-17 15:50] jeffstoner commented on #84
Your statement

conflicts with the defined MCP behavior

(source: https://docs.mcp-services.net/display/CCD/How+to+Add+Additional+Local+Storage+%28Disk%29+to+a+Cloud+Server - Prerequisite 5.)

[2017-04-17 20:18] tintoy commented on #84
Thanks for the feedback @jeffstoner - this is all useful information :)

Unfortunately it sounds like these changes may make the provider quite painful to use, so I may hold off on building anything until we can find a design compromise that fits. I'll keep thinking about it.

[2017-04-17 20:29] tintoy commented on #84
On the other hand, this is Terraform behaviour we're talking about, not CloudControl. As long as the behaviour is well-documented, I think I'd still be comfortable with it.

As for SATA controllers, we could add a `sata_disk` type:

[code]

[2017-04-17 20:29] wninobla commented on #84
Just my two cents worth…

Since we treat the no guest OS customization differently in terms of deployment vs. on that does guest OS customization maybe we just keep it separate.  In other words, maybe you have a different method that handles ddcloud_server vs. say one that’s dedicated to storage say ddcloud_storage?  Not sure if that makes it more convoluted but we kind of already do that for NIC’

[2017-04-17 20:29] tintoy commented on #84
(I'm trying to be mindful of backward-compatibility here)

[2017-04-17 20:32] tintoy commented on #84
Thanks @wninobla - that does make sense. I'm favouring option 2 at the moment as it's a little more user-friendly, but I'm open to suggestions :)

[2017-04-17 20:33] wninobla commented on #84
Works for me.  It’ll keep the existing server.tf files consistent if they break them out vs. doing it as one big monolithic build.  And yeah I agree on the behavior piece.  We’ll just need to flag it as one that we can do during a build vs. after the fact.

[2017-04-17 20:34] wninobla commented on #84
I’d say deleting some snips vs. adding new one’s is 50/50.  Just depends on how complex someone has gotten with their TF files.  Then again , most of those folks code for a living so it should be more of an annoyance than a blocker so…

[2017-04-17 20:40] alexbacchin commented on #84
Same here, backwards compatibility is a must. These storage adapters changes makes practically no difference for 90% of the users as the underlying physical storage infrastructure still the same.

[2017-04-17 20:40] tintoy commented on #84
Breaking changes to Terraform provider schema are risky for users - not so much for new deployments, but for existing deployments where the configuration suddenly means something different than it did before. Something I'd like to minimise if possible :)

[2017-04-17 21:33] tintoy commented on #84
Just to clarify, @jeffstoner, the design ethos for our Terraform provider is to use CloudControl terminology and semantics wherever it's practical to do so unless it conflicts with Terraform's resource / schema / life-cycle model.

We currently use a disk's SCSI unit Id to uniquely identify each disk in the configuration because the Id is only known after deployment (so we match up CloudControl Id

[2017-04-17 23:27] tintoy commented on #84
The commit's a bit messy (latest version of Go and associated tooling is more pedantic than usual and had to fix a lot of code-analysis warnings) but I've built a (totally untested) [first attempt at implementing option 2](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/commit/86d246b2b2d66bbfed88d3385f3aa18dfea528dd#diff-a7051d8b4bf270f3704ae4b46ae7f5cc). Thanks to some earlie

[2017-04-18 23:36] tintoy commented on #84
Working on a prototype for option 1 in [feature/ddcloud-storage-controller](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/compare/feature/ddcloud-storage-controller).

[2017-04-19 23:00] tintoy commented on #84
Ok, so the following configuration works correctly now (branch for option 1):

[code]

If I remove disk 2 (`scsi_unit_id = 1`) on `test_server_controller_1`, Terraform produces incorrect diff output when running `terraform plan` but does behave correctly when running `terraform apply`. Pretty sure the diff output is due to a bug in Terraform (not really related, but along similar lines to hashicor

[2017-04-26 02:36] tintoy commented on #84
Implemented in [1.3.0-alpha2](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.3.0-alpha2).

[2017-04-26 02:36] #84 closed, assigned to tintoy

[2017-05-15 00:43] #85 closed, assigned to nobody

[2017-05-15 00:44] #77 closed, assigned to nobody

[2017-05-15 00:44] tintoy commented on #77
Implemented.

[2017-07-05 02:19] #73 closed, assigned to tintoy

[2017-07-05 02:19] tintoy opened #90 "State import for ddcloud_vlan"
Implement Terraform state import for `ddcloud_vlan`.
- [x] Implementation
- [x] Documentation

Relates to #29.

[2017-07-06 01:52] #90 closed, assigned to nobody

[2017-07-07 22:07] tintoy opened #91 "State import for ddcloud_server"
Implement Terraform state import for `ddcloud_server`.
- [x] Implementation
- [x] Documentation

Relates to #29.

[2017-07-07 22:09] #91 closed, assigned to tintoy

[2017-07-10 22:43] tintoy opened #92 "State import for ddcloud_nat"
Implement Terraform state import for `ddcloud_nat`.
- [x] Implementation
- [x] Documentation

Relates to #29.

[2017-07-10 22:50] #92 closed, assigned to tintoy

[2017-07-12 04:10] tintoy opened #93 "State import for ddcloud_firewall_rule"
Implement Terraform state import for `ddcloud_firewall_rule`.
- [x] Implementation
- [x] Documentation

Relates to #29.

[2017-07-12 04:14] #93 closed, assigned to tintoy

[2017-10-06 05:43] bernard357 opened #95 "What to do on "Incompatible API version with plugin" error message?"
Hello there. This are the messages returned by terraform:

[code]

Can you help please?

[2017-10-06 06:05] tintoy commented on #95
What version of Terraform are you using?

Run `terraform version` to check.

[2017-10-06 06:20] tintoy commented on #95
Usually this message means the version of the `ddcloud` provider you are using was built against an older or newer version of Terraform. If you're on v1.3.x of the `ddcloud` provider, you need Terraform v0.8.1 or newer; if you're on v1.2.x or older, you need Terraform v0.7.x or older.

[2017-10-06 08:05] bernard357 commented on #95
[code]

The version of the dd cloud provider is the most recent release from the GitHub site.

[2017-10-06 08:12] tintoy commented on #95
v1.3.0 supports Terraform v0.9.x - I think v0.10.x is not supported yet. Make sure you're on v1.3.0 of the provider and v0.9.x of Terraform. Our next release (v1.4.x) will support Terraform v0.10.x.

[2017-10-06 08:14] tintoy commented on #95
Sorry about that. Part of the problem is they keep changing the plugin protocol and its not backward-compatible. So each version of our provider can only target a specific version of Terraform (more or less).

[2017-10-12 21:12] tintoy commented on #95
Hey @bernard357 - did that fix it for you?

[2017-10-13 00:23] bernard357 commented on #95
Hello Adam, I am on vacation for a family trip this week, and Will look at
it by next week. Thanks for the follow up :-)

-Bernard

On Thu 12 Oct 2017 at 17:12, Adam Friedman <notifications@github.com> wrote:

[2017-11-01 11:44] liger1978 opened #98 "Hook into cloud-init for ddcloud_server"
Hi

Is there a way to hook into `cloud-init` when defining a `ddcloud_server`?  You can do this when using plumbery instead of Terraform to interact with DD Cloud.

If not, can it be added?

Thanks!

[2017-11-01 18:21] tintoy commented on #98
Hi - MCP2 does not directly support cloud-init, but we do have a DHCP / iPXE solution which can accomplish this (https://github.com/DimensionDataResearch/mcp2-dhcp-server).

[2017-11-01 18:23] tintoy commented on #98
BTW would you mind posting a link to the Plumbery fitting you're referring to?

[2017-11-02 08:39] liger1978 commented on #98
http://plumbery.readthedocs.io/en/latest/fittings.cloud-config.html

[2017-11-02 08:45] tintoy commented on #98
I'm asking the folks who built Plumbery to confirm but I'm guessing that the cloud-config is applied _after_ the server is deployed? For stuff like CoreOS and RancherOS, it has to be done at boot time (we can do this using iPXE)

[2017-11-02 08:52] liger1978 commented on #98
It is, and it is a bit clunky.  The client running the plumbery commands seems to require ssh access to the node. Still, better than nothing.

What is the standard/recommended way to add basic config to new nodes on DD cloud?  I looked at the iPXE page you linked, but it seemed a bit convoluted.  I also have no interest in learning ansible currently, as we use Puppet for config mgmnt.  I basically

[2017-11-02 08:52] tintoy commented on #98
Yeah looking at the code, Plumbery has to already be able to connect to the target server in order to call cloud-init (so you can't use it to install initial SSH keys via cloud-config). But mcp2-dhcp-server will probably do what you want (CloudControl has no direct support for cloud-init but the iPXE boot process allows us to inject arbitrary cloud-config).

[2017-11-02 08:57] tintoy commented on #98
Unfortunately, iPXE is as good as it gets at this stage (MCP / CloudControl doesn't support much in the way of boot-time hooks). It's actually not that complicated once you have it set up (and is actually pretty flexible). We use it to deploy RancherOS, Rancher, etc for hosting our internal microservices.

The other option you could probably do is build a custom image that does what you want durin

[2017-11-02 08:58] liger1978 commented on #98
Fair enough, thanks for the definitive answer.

[2017-11-02 09:00] tintoy commented on #98
BTW, one advantage of mcp2-dhcp-server is that the servers get most of their config from what you've already specified in CloudControl (e.g. IP addresses, iPXE profile from tags) rather having to enter the same information twice.

(sorry I can't offer more than that - it's a platform limitation, although it's one the CloudControl folks could address someday)

[2017-11-02 09:08] tintoy commented on #98
Oh, and Ansible was just to install the DHCP server; you could install it by hand or build an equivalent puppet config I imagine. It's not a complex install.

[2017-11-02 13:50] jeffstoner commented on #98
You can *probably* use cloud-init with the platform as-is but it would be a bit clunky. The theory (because I have not tested this) is to create a new vm (using an external system) then generate an ISO with your user-data and meta-data, attach it to a server, then export it as an OVF. You can import that as a Customer Image and deploy from it.
During deploy, the server will boot with the ISO attac

[2017-11-02 18:31] tintoy commented on #98
Heh, yeah - TBH this is why I built that iPXE service :-D

[2017-11-27 02:08] calloes opened #99 "Add the ability to enable backups via terraform"
Once server is provisioned and elements such as disk expansion etc are completed we need to add the backup agent.

-Need to enable backup initially with specific plan.
-Need to set the file agent storage/schedule/alerting.
-Need to Add Backup Client additionally for Mysql/SQL/Postgre etc.

-Need return the backup client download url for the server, this is needed as we will be using ansible to do

[2017-11-27 02:46] tintoy commented on #99
Cool, and I assume that these values can be changed after the server has been deployed?

[2017-11-28 05:03] calloes commented on #99
Yes can only be activated after server deployment is completed

[2017-12-06 23:33] mike-nagy opened #100 "ddcloud_anti_affinity resource type"
I am having a bit of trouble with the ddcloud_anti_affinity resource type. Please forgive me if my questions seem elementary but I am hoping you could point me in the right direction with my script. I have read through the documentation on GitHub and it is not clear to me how to reference the servers to include in the rule. Below is a sample of my code, would you be able to provide some advice on

[2017-12-06 23:39] wninobla commented on #100
The resource for "ddcloud_server_anti_affinity" requires a rule for setting the dependency on the server objects being available before it can be referenced.  Assuming the other portions work (e.g. spinning up a network domain, spinning up the VLAN and then building the servers) that's all you should need.  Else, you will need to set the dependencies for the other items as well.

I'd recommend if

[2017-12-06 23:52] tintoy commented on #100
Hi - the trick is to use the `*` character like so:

https://github.com/DimensionDataResearch/daas-demo/blob/9bef250cfaa65c092576a0ee997707c247ac31bc/deploy/terraform/ddcloud/kube-hosts.tf#L59

[2017-12-06 23:53] tintoy commented on #100
Essentially, putting `.*.` in an expression evaluates as an array of values (which you then use the `element` function to extract the required value from). The trick is to use the `count` property on the `ddcloud_server_anti_affinity` resource so that there is one for each `ddcloud_server` and then use `count.index` to match them up.

(sorry for the delayed reply - I'm at a conference today)

[2017-12-06 23:55] tintoy commented on #100
More info in the Terraform docs [here](https://www.terraform.io/docs/configuration/interpolation.html#attributes-of-other-resources), [here](https://www.terraform.io/docs/configuration/interpolation.html#element-list-index-), and [here](https://www.terraform.io/docs/configuration/resources.html#using-variables-with-count). You could also use `.0.` and `.1.` but `.*.` with `count.index` is much cle

[2017-12-07 00:02] calloes commented on #100
I use this in a different resource but ultimately iterates through each element the resource is based on and as above put the count in the resource

 host = "${element(ddcloud_server.mysql_server.*.primary_network_adapter.0.ipv6, count.index)}"

[2017-12-07 00:06] wninobla commented on #100
All good comments there. =)  So, you should be all set between setting the * as well as ensuring the object exists first so it can be referenced in the code as it will need that all handy before it can iterate through.  Else, it'll be a blank value and error out.

It will help if you have logs also so if you can send those out if you still have problems that will help pinpoint where it fails.

[2017-12-07 00:21] tintoy commented on #100
Terraform should do that for you normally, it infers dependencies from expression references.

[2017-12-07 00:37] calloes commented on #100
You must have .id on the end by the way to reference the resource itself this works on one of my environments

[code]

[2017-12-07 11:52] mike-nagy commented on #100
Thats the piece that was missing for me, adjusting my reference
from
[code]
to
[code]
and now it works for me
thank you all for the feedback.

[2017-12-10 10:34] pdenning opened #102 "Add the ability to change power state of a server"
Once the server is provisioned, have the ability to change the power state of the server.

- Change from started to off (Graceful and Hard).
- Change from off to started.

This feature would also obsolete the auto_start argument as the new power state would auto start the server if set to start.

This would be achieved by creating a new argument for the server resource with 3 options. start, off,

[2017-12-10 10:40] tintoy commented on #102
Hi - I like the sound of this and thanks for providing a PR to go with it :)

It's around 10pm here but I'll have a look at this properly first thing tomorrow.

[2017-12-10 19:26] tintoy commented on #102
Ok, I like this idea; can we walk through a scenario or 2 to validate the design?

For example, let's say you have a configuration that specifies one server but doesn't specify an initial power state. If the default is `off`, then when you first run `terraform apply` it will create server and leave it powered off.

_Now:_ Let's boot up our new server and at some point in the future run `terraform

[2017-12-11 00:16] tintoy commented on #100
@mike-nagy - I'm going to close this issue now, since it sounds like it's been resolved, but feel free to reopen if you still have further questions.

[2017-12-11 00:16] #100 closed, assigned to nobody

[2017-12-11 00:17] tintoy commented on #95
@bernard357 hi, sorry it's taken me a while to circle back to this (I kinda forgot about it). Are you still having problems?

[2017-12-11 03:04] pdenning commented on #102
Ok I understand where it can be problematic if you are managing the state from both
terraform and the web console.

Terraform refresh should refresh the state file to the current state of the server. Which i have made a change for. Will push after discussion about server power states have concluded as i'll input that into it.

To answer your question about differences in state and configuration fi

[2017-12-11 07:26] tintoy commented on #102
That sounds pretty good - what about people who want the server to automatically start on first deploy but then ignored subsequently? Maybe add `autostart`as an option?

[2017-12-11 09:16] pdenning commented on #102
`autostart` is a good idea. to allow for starting and not needing to worry about future state.

As this is now getting away from my original intend which was to a) control the power state of the server and b) know what state it current is in.

I would like to propose adding a `started` bool attribute that will either be true/false if the server is currently running or not.

[2017-12-11 09:22] tintoy commented on #102
Yep I hear you, I just want to make sure existing users can upgrade without too much trouble :)
`started` attribute sounds fine; do you mean like a computed property right?

[2017-12-11 09:35] pdenning commented on #102
Yah, understand that, the last thing i would want is everyone's servers to start shutting down on them.

Computed property is what i am think of.

[2017-12-11 09:48] tintoy commented on #102
I'm totally fine with adding it :)

PS. Thanks for sticking with this PR, I appreciate that it's turned out to be more work than you were initially expecting,

[2017-12-11 09:51] pdenning commented on #102
Cheers I'll added that in to it
on the note of the backwards compatibility. I have set auto-start to removed. Would you prefer that it be set to Deprecated?

and no worries. If the work i have done can be modified and  be put to use by others. I'm happy to help.

[2017-12-11 09:59] tintoy commented on #102
I think your first approach for that is better, let's leave it as obsolete so people get a useful message when they try to use a config that still specifies it.

BTW, don't forget to add yourself to `CONTRIBUTORS.md` :)

[2017-12-11 23:08] pdenning commented on #102
made the changes and ran initial tests.

Would you like a migration from schema v4 to v5 ?

[2017-12-11 23:10] tintoy commented on #102
Good catch! But in this case it would I be correct in guessing that it may not be necessary since any existing value would be ignored / equivalent to the default?

[2017-12-11 23:28] pdenning commented on #102
ignored is default so if auto_start is false or not set it is fine.

However setting auto_start to removed. It needs to be removed from the config file or it'll error.
So it won't convert auto_start = true to power_state = "autostart".

I have the basics for a migrate completed. just need to test therefore it might be worth just handling anyway.

[2017-12-11 23:46] tintoy commented on #102
Yep fair point :)

[2017-12-12 00:24] pdenning commented on #102
@tintoy I've updated the schema version and created a migration plan.

However I found a bug with the previous migration, from what i can tell the Migration from v3 to v4 would have never ran. Due to the currentSchemaVersion in resource_server_migration being set to 3.

[2017-12-12 00:26] tintoy commented on #102
Oops! They're meant to execute in sequence, so if you set the correct value for `currentSchemaVersion` then it should still run yours correctly. I'll have a quick look at the v3-v4 upgrade logic to see what's in there.

[2017-12-12 00:29] tintoy opened #103 "Validate state migration for ddcloud_server (v3 to v4)"
As mentioned in #102, it looks like the state migration for `ddcloud_server` [from v3 to v4](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/1b26fb22685a573aef7dec14da418e28c7c50f43/ddcloud/resource_server_migrate.go#L221) has never been run.

Create acceptance tests to verify that the state data is correctly migrated.

[2017-12-12 00:30] tintoy commented on #102
Thanks, good catch!

I've created an issue to track that and will have a go at writing a couple of acceptance tests for it later this week.

[2017-12-12 20:46] tintoy opened #104 "Implement support for SSL offloading"
- [x] [API client](https://github.com/DimensionDataResearch/go-dd-cloud-compute)
  - [x] SSL domain certificates
  - [x] SSL certificate chains
  - [x] SSL offload profiles
  - [x] Virtual listener changes to support SSL offload
- [x] Terraform provider
  - [x] `ddcloud_pfx` data source (enables reading of `.pfx` file, exposing certificate and private key)
  - [x] `ddcloud_virtual_listener` resour

[2017-12-21 03:38] #104 closed, assigned to tintoy

[2017-12-21 23:44] tintoy commented on #102
Implemented in DimensionDataResearch/dd-cloud-compute-terraform#101 :-)

[2017-12-21 23:44] #102 closed, assigned to nobody

[2017-12-28 17:52] bernard357 commented on #95
Hello Adam, thanks for asking. I had no time to come back to this, sorry.

Take care

Bernard

On Mon 11 Dec 2017 at 01:17, Adam Friedman <notifications@github.com> wrote:

[2018-01-03 22:31] tintoy opened #106 "Retry logic is incorrect"
At present, each time the retry ticker goes off, a signal is queued at the ticker channel and these will back up until processed (this will, over time, lead to a very tight loop of repeatedly making calls the CloudControl API which are likely to still fail with `RESOURCE_BUSY`, which is not exactly being a good citizen).

Consider replacing [the ticker](https://github.com/DimensionDataResearch/dd-

[2018-01-04 03:19] tintoy commented on #106
I suspect this may also be responsible for the intermittently-high CPU usage exhibited when the provider is processing many resources in parallel (realistically, most of the provider's time should be spent waiting for responses from the CloudControl API).

[2018-01-04 04:41] tintoy opened #107 "Use errors.Wrapf where appropriate"
Consider using [errors.Wrapf()](https://godoc.org/github.com/pkg/errors#Wrapf) to add useful context to errors encountered by the Terraform provider.

See also: DimensionDataResearch/go-dd-cloud-compute#15

[2018-01-04 04:43] tintoy commented on #98
@liger1978 - I'm going to close this issue, but feel free to reopen it if you have any further questions :)

[2018-01-04 04:43] #98 closed, assigned to nobody

[2018-01-04 04:44] tintoy commented on #95
No problem - I'm going to close this issue for now, but please feel free to reopen it if you find the problem has not been resolved :)

[2018-01-04 04:44] #95 closed, assigned to nobody

[2018-01-04 04:45] tintoy commented on #80
Verified in `v1.3.2`.

[2018-01-04 04:45] #80 closed, assigned to nobody

[2018-01-04 04:47] tintoy commented on #99
Closing as a duplicate of #26 (we'll track this issue there).

[2018-01-04 04:47] #99 closed, assigned to nobody

[2018-01-04 04:48] tintoy commented on #75
Verified in `v1.3.2` (sorry for the delay in getting back to you).

[2018-01-04 04:48] #75 closed, assigned to nobody

[2018-01-04 04:50] tintoy commented on #16
This is redundant, these days, because `ddcloud_server` has built-in support for resolving images by name.

[2018-01-04 04:50] #16 closed, assigned to nobody

[2018-01-04 04:51] tintoy commented on #29
Verified in `v1.3.2`.

[2018-01-04 04:51] #29 closed, assigned to nobody

[2018-01-23 01:13] tintoy commented on #27
Nobody's asked for this, so it's off the table for now.

[2018-01-23 01:13] #27 closed, assigned to nobody

[2018-03-06 19:36] drewyelle opened #108 "unexpected EOF during apply"
Taking The first stab at deploying to DimensionData/MedOne Cloud in Israel (datacenter IL1). Using a local copy of the basic example "Testing the Provider" project located here: https://github.com/DimensionDataResearch/dd-cloud-compute-terraform

Terraform plan is successful. Terraform apply fails with an EOF error.

**Expected behavior:**
Terraform apply is successful.
Plan: 5 to add, 0 to change

[2018-03-06 19:41] tintoy commented on #108
Hi - would you be able to set the following environment variables and run the command again?

[code]

If you could then attach the resulting log file it may help to throw some light on the problem.

[2018-03-06 21:30] calloes commented on #108
Are you able to show your terraform.tf file please ensure you pull and variables out.

Chris

From: drewyelle <notifications@github.com>
Reply-To: DimensionDataResearch/dd-cloud-compute-terraform <reply@reply.github.com>
Date: Wednesday, 7 March 2018 at 6:36 am
To: DimensionDataResearch/dd-cloud-compute-terraform <dd-cloud-compute-terraform@noreply.github.com>
Cc: Subscribed <subscribed@noreply.gi

[2018-03-06 21:34] drewyelle commented on #108
Thanks tintoy for the quick response.

I have found the error. The URL built in the initial GET was incorrect. The path was malformed and led to a 404 response. When specifying the **datacenter** value in the **ddcloud_networkdomain** resource, there should not be any URI path specified but the "https://" prefix is required.

Incorrect:
datacenter     =   "https://api.cloud.med-1.com/oec/0.9/"
Cor

[2018-03-06 21:34] #108 closed, assigned to nobody

[2018-03-09 08:00] adrianriobo opened #109 "Enhace virtual listener documentation"
According with [virtual listener public ip](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/issues/19)

Virtual listener should have ipv4 as referenced attribute, so it is possible to get assigned public ip to create a firewall rule from this... (nat style).

[2018-03-09 20:47] tintoy commented on #109
Hi - thanks, I'll have a look at this first thing on Monday.

[2018-03-14 08:20] adrianriobo opened #110 "ssl_offload_profile not set from virtuallistener"
Terraform v0.11.3
terraform-provider-ddcloud v1.3.3-preview1 (6b56ef5c9258555cecbd7a164b4372c0fc824039)

Creating a virtual listener with an ssl offload profile from terraform output...

[code]
But if I go to console and check the virtual listener, ssl offload profile is not set:

![ssloffloadprofileerror](https://user-images.githubusercontent.com/1957899/37390555-c9a9da10-2768-11e8-9020-fda041e4e

[2018-03-14 08:27] tintoy commented on #110
Hmm, sorry, that does sound like a bug. I'll try it with logging and see what's going on.

[2018-03-14 08:55] adrianriobo commented on #110
Ok, curious, all my resources are created perfect this is the only thing is not proper set...the profile is created and if I use combo I can select the ssl offfload profile

...the only thing I am not doing as doc from MCP says is .. (but there is no complaint about)

I am setting PersistenceProfile CCDEFAULT.Cookie...which from documentation it says it is not possible with Standard virtual listen

[2018-03-14 11:09] tintoy commented on #110
It's around 10pm here in AU but I'll look into this properly tomorrow morning. In the meanwhile could you try defining the following environment variables and the  capture the output from terraform apply? TF_LOG=DEBUG MCP_EXTENDED_LOGGING=1

[2018-03-14 11:14] adrianriobo commented on #110
yes no problem, I will make it this afternoon so you will have it tomorrow morning (AU) :)

Thx

[2018-03-14 17:38] adrianriobo commented on #110
Hi there, here you have (attached) debug log for virtual listener resource, I just paste the part of the virtual listener because full stack seems irrelevant...

[virtuallistener.log](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/files/1812272/virtuallistener.log)

Some points I saw in this log:

1. When virtual listener attributes are printed no ssl offload profile info is p

[2018-03-14 17:52] tintoy commented on #110
Hmm, looks like GitHub is having trouble with file storage at the moment; I can't download the log file for some reason.

Looking at the CloudControl API documentation for `sslOffloadProfileId`, it looks to me like you've got a valid configuration so I'm not sure why it's not taking.

I'm going to reach out to the CloudControl team to see what we're missing (if anything) and get back to you as soo

[2018-03-14 18:04] adrianriobo commented on #110
Cool,

Keep waiting here from you!

[2018-03-14 18:28] tintoy commented on #110
Ok, I think I see the problem; the part of the provider that handles `ddcloud_virtual_listener` is calling an older version of the CloudControl API (which doesn't support SSL offload). I'm going to switch it over and see what happens.

[2018-03-14 18:48] tintoy commented on #110
Yep, that fixed it. I'll put together a release shortly.

Note - due to a change in the CloudControl API, the `optimization_profiles` (list) property on `ddcloud_virtual_listener` is now `optimization_profile` (string).

[2018-03-14 19:06] tintoy commented on #110
Ok - can you give [v1.3.3](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.3.3) a try?

[2018-03-14 19:18] adrianriobo commented on #110
Hi writing from my phone...it 8 P.M. here Spain...so tomorrow i Will give a try first thing in the morning ...and I will write you back

[2018-03-14 19:19] tintoy commented on #110
No problem - take your time :)

[2018-03-14 22:03] tintoy commented on #109
Hi - I've updated the documentation to list `ipv4` as a computed attribute.

Thanks :)

[2018-03-14 22:04] #109 closed, assigned to nobody

[2018-03-15 07:36] adrianRiobo commented on #110
Hi, I already installed version

`terraform-provider-ddcloud v1.3.3 (62dda3f74a769a693a691ccd184e39fc1f6a68f1)`

But now I am getting this error during plan phase:

Previous version had this attribute, but now I deleted, so my virtual listener resource looks like:

`resource "null_resource" "virtuallistener_syncronizer" {
  triggers {
    dependency_id = "${var.sync_virtuallistener}"
  }
}

resour

[2018-03-15 08:11] tintoy commented on #110
BTW if you have an existing .tfstate file you may need to edit it manually to rename the optimization_profiles property to optimization_profile and change its type from an array to a string (that's a one-off though).

[2018-03-15 08:23] adrianriobo commented on #110
Yes, no problem I cleaned everything and now this problem does not exist anymore... but now I am getting...

But resources are exactly the same like previous executions where no problems with certificate...

[2018-03-15 08:26] tintoy commented on #110
Hmm, can you run it with logging and attach the log?

[2018-03-15 08:27] adrianriobo commented on #110
Yes just one sec

[2018-03-15 08:27] adrianriobo commented on #110
Seems something with private_key in changelog of this version

[ssldomaincertificate.log](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/files/1814524/ssldomaincertificate.log)

Request body is not including key.. or at least not key value ..."key":""

[2018-03-15 08:31] tintoy commented on #110
Only difference is that we never treat it as changed. If it's the first time a resource is being created that doesn't even get called.

I'll pick this up tomorrow :)

[2018-03-15 08:37] tintoy commented on #110
(bedtime)

[2018-03-15 08:37] adrianriobo commented on #110
yes no problem...we will talk tomorrow...have a good rest!

[2018-03-15 08:44] tintoy commented on #110
In the meanwhile if you can attach the logs (or email to adam dot friedman at Dimension Data dot com) I'll have a look first thing tomorrow

[2018-03-15 09:01] adrianriobo commented on #110
Yes you already have it in previous comment..here you have again:

[ssldomaincertificate.log](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/files/1814524/ssldomaincertificate.log)

As I see...in first creation ... of ssl domain certificate..now private key is ignored....so its value is not passed in the request body...

[2018-03-15 09:32] adrianriobo opened #111 "Update virtual listener documentation"
As it says in [virtual listener doc](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/blob/development/v1.3/docs/resource_types/virtual_listener.md):

optimization_profile is required in convination: STANDARD + TCP

but STANDARD + HTTP is also mandatory..checked from cloudcontrol api response:

`failed with status code 400 (CONFIGURATION_NOT_SUPPORTED): optimizationProfile is re

[2018-03-15 16:13] tintoy commented on #111
Thanks! I'll get that updated.

[2018-03-15 16:15] tintoy commented on #110
Sorry, I thought I'd tested that before creating the release! I'll try it again in about an hour or so when I get into the office.

[2018-03-15 17:06] tintoy opened #112 "State migration logic for ddcloud_virtual_listener"

[2018-03-15 17:28] tintoy commented on #110
Nope, looks like I must have made a mistake while testing it. Sorry for wasting your time :-(

I've fixed the issue (and tested it twice) so I'll put out a new release shortly.

[2018-03-15 17:43] tintoy commented on #110
Ok @adrianRiobo, [v1.3.4-alpha1](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.3.4-alpha1) is ready to go :)

If that works for you, let me know and I'll create the RTM release.

[2018-03-15 17:43] tintoy commented on #110
PS. Sorry again for wasting your time, I'll try to be more thorough with my testing next time!

[2018-03-15 17:55] tintoy commented on #111
Done :)

[2018-03-15 17:55] #111 closed, assigned to nobody

[2018-03-15 17:58] #26 closed, assigned to nobody

[2018-03-16 07:04] adrianriobo commented on #110
Sorry I ve been offline..no apologies...the goal is improve...I will try
right now and I talk you back

[2018-03-16 07:31] tintoy commented on #110
No worries, take your time :)

[2018-03-16 08:33] adrianriobo commented on #110
Hi there, now everything looks right... everything was created and everything set correct.

Cheers I think you could create release... I close this issue as solved.. and keep waiting for release version.

Good weekend and thanks for everything!

[2018-03-16 08:33] #110 closed, assigned to nobody

[2018-03-16 08:37] tintoy commented on #110
Thanks for testing it! Will create a new release first thing Monday.

[2018-04-23 03:16] adrianvolpe opened #114 "Terraform fails when attempting to include a disk which is bigger than the standard OS images"
Prior to Cloud Control 2.7 (2.6) a `ddcloud_server` resource could be defined with the following attributes:
` disk {
        scsi_unit_id     = 0
        size_gb          = 100
        speed            = "HIGHSPEED"
    }`

Since the 2.7 upgrade terraform fails with the following message:
[code]

The Cloud Control API release notes say that the server must be off to resize a disk.  So if the VM i

[2018-04-23 03:29] tintoy commented on #114
Yep, that sounds like a bug to me.

I'm a little flat-out at the moment (recent internal org changes mean this project is being transferred elsewhere within DD but none of that has been finalised), so it may be a week or so before I get to this; if that's too slow and you're up to it I'd be happy to accept a pull-request :)

[2018-04-23 04:17] adrianvolpe commented on #114
Thanks @tintoy. Yeah I'm in the middle of a change so I am working around it for the moment.  I think it may be just the EU8 environment at the moment.  I'm not taking any chances but I will do some more investigating once the change is completed.

[2018-04-26 04:11] adrianvolpe commented on #114
Hi @tintoy I've had a look at the code with Stuart Campbell and we think the way to fix this issue is to modify the `createDisks` function in `resource_server_disks.go`

So before `processModifyDisks()` or `processAdddisks()` we would need to ensure the server was in a state of `"started == false"` then do the disk changes and if it server was configured with auto started restart the server after

[2018-04-26 04:27] tintoy commented on #114
That sounds correct to me - by all means, please go ahead and create a PR! I'm happy to review and offer advice if required :)

PS. Thanks for having a go!

[2018-04-26 04:27] tintoy commented on #114
From memory there's already a function you can use to stop / start the VM

[2018-04-27 02:23] adrianvolpe commented on #114
@tintoy I did a build of my modified terraform provider for ddcloud (which was a little bit of a challenge)!  Now I'm trying to test it against my terraform configuration but am getting this error:
[code]

Is there a way I can turn off the get backup details?  I don't think it is in the current driver version.

[2018-04-27 02:38] tintoy commented on #114
Not easily, unfortunately - if we simply ignore the error then the providers behaviour is not consistent. We could add a provider property to turn it off but that needs a bit of thought. For now you could comment it out to work around if you can't get backup permissions. I'll see what we can do about the provider-level switch.

[2018-04-27 05:18] adrianvolpe commented on #114
Ok I've made progress but am seeing the following:

[code]

I'm not sure why terraform thinks it needs to destroy the server when I am just modifying the disk size.  The shutdown and start seem to be working.  The issue about firewall rules has always been there so ignore that.  Where can I see the debug log?

[2018-04-27 05:22] tintoy commented on #114
To log pretty much everything:

[code]

I can't remember if the provider is supposed to shut down the server before destroying it, but I would have thought so...

From memory, when you run `terraform plan` it should tell you which changed property requires the server to be destroyed and recreated.

[2018-04-27 05:25] adrianvolpe commented on #114
I should have included this in the above:

[code]

So no destroy was planned yet that was an error I got.  With those logging options I should get a better idea as to what the system is doing.  Given I had never touched the go lang before today I'm pretty happy with this progress.

[2018-04-27 05:30] tintoy commented on #114
Ok, that's pretty odd. As far as I know, if no destroy is shown in the `plan` stage, it should be impossible for Terraform to then decide to destroy that resource during the `apply` stage (that'd make a mockery of the concept of `terraform plan`). Perhaps it's a Terraform bug?

Glad to hear you're coming to grips with it all; I'll try to pitch in as soon as I can, but it's looking like I still hav

[2018-04-27 05:30] tintoy commented on #114
If you can capture the full debug log and email it to me I'll have a look and see if anything stands out.

[2018-04-27 05:34] tintoy commented on #114
One thing you can try is running `terraform plan -out=my.plan` then `terraform apply my.plan` to see if the same behaviour occurs.

[2018-04-27 05:35] tintoy commented on #114
As for the firewall thing, manually deleting the rule and then running `terraform apply` should do the trick.

[2018-04-30 09:47] liger1978 opened #115 "No binaries for 1.3.5"
Hi, can you add the binaries to the 1.3.5 release please?

[2018-04-30 11:48] tintoy commented on #115
Sure - sorry I can't do it until I get into the office tomorrow (it's 10pm here in AU) but I'll publish them then.

[2018-04-30 19:57] tintoy commented on #115
On my way into the office now. I keep meaning to alter the CI build to publish its binaries, will have a go at doing so sometime today.

[2018-04-30 21:26] tintoy commented on #115
Hi - sorry for the delay, binaries are published now.

I've also fixed the CI build so it will automatically publish binaries when a new release tag is created.

[2018-04-30 21:41] tintoy commented on #114
Finally got a chance to look at the restart thing; I pushed (https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/commit/a204a27bd634124898298a51041c8af397db7d04) a possible solution to the `feature/server-disk-restart` branch. How close is it to your solution?

[2018-05-01 03:58] adrianvolpe commented on #114
Hi @tintoy! The same idea but I was shooting in the dark.  I didn't realise that when you do a
[code]
The result is an instance of the resource_server.go object and so you can then just call `server.serverShutdown()` and `serverStart()`

I also had to make a few tweaks to the Vagrant file:
 - Changed `GOVERSION="1.10.1"`
- Added the following lines after `go get -u github.com/hashicorp/terraform`:

[2018-05-01 10:17] liger1978 commented on #115
Thanks. Those binaries seem to be labelled as 1.3.6 but the release is 1.3.5?

[2018-05-01 11:37] tintoy commented on #115
Yeah, looks like the version info is slightly off; it's 1.3.6

[2018-05-04 02:24] tintoy commented on #114
Sorry for the delay on this, I've been tied up with a bunch of other work. I'll try to get a release out sometime today.

[2018-05-04 04:40] tintoy commented on #115
Ok, I've just published v1.3.7 where the version info is back in sync; feel free to reopen this issue if you need to :)

[2018-05-04 04:40] #115 closed, assigned to nobody

[2018-05-04 04:42] tintoy commented on #114
Ok @adrianvolpe - could you give [v1.3.7](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.3.7) a try when you get a chance? The provider should now stop / start the server (when required), before / after modifying its disk configuration.

Thanks!

[2018-05-07 01:45] adrianvolpe commented on #114
Hi Adam,

Not sure if its working for me or not as I keep getting a Terraform crash.  I’ve attached a zip of the crash log.  Seems to be after it can’t find a resource.

Cheers,

Adrian

[2018-05-07 01:47] tintoy commented on #114
Sorry it looks like the attachment didn't come through via email - would you be able to attach it via the web UI?

[2018-05-07 01:51] adrianvolpe commented on #114
[crash.log.zip](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/files/1978270/crash.log.zip)

I thought I may have commented out a line that was required but its still failing.  I wonder if the MCP API is playing up

[2018-05-07 01:52] tintoy commented on #114
Ugh. DNS filtering in the office means I can't download it >:-(

Would you mind emailing it to me directly? Sorry!

[2018-05-07 03:34] tintoy commented on #114
Ok, looks like there was a bug in the code that handles server network adapters (should have bailed out if the server does not exist, but it simply logged a message and continued on to the location where the crash occurred). [v1.3.8](https://github.com/DimensionDataResearch/dd-cloud-compute-terraform/releases/tag/v1.3.8) is [building now](https://travis-ci.org/DimensionDataResearch/dd-cloud-comput

[2018-05-07 03:36] tintoy commented on #114
Ok it's ready to go.

[2018-08-29 05:20] phillogic opened #117 "Canada API url is incorrect!?"
Hello
 When using the terraform provider for creating a network domain in Canada we get an error saying api url cannot be reached. On further research it would seem that the the provider needs to be updated to use the correct url for canada as per image below

`Error: Error applying plan:

1 error(s) occurred:

* ddcloud_networkdomain.my-domain: 1 error(s) occurred:

* ddcloud_networkdomain.my-dom

[2018-09-10 04:08] samuelchong commented on #117
* `region` - (Optional) The Managed Cloud Platform region code (e.g. 'AU' - Australia, 'EU' - Europe, 'NA' - North America) that identifies the CloudControl end-point to connect to.
Must specify exactly one of either `region` or `cloudcontrol_endpoint`.
* `cloudcontrol_endpoint` - (Optional) The base URL of the CloudControl end-point to connect to.
Use this property if you are using PCEE or some o

[2018-09-10 04:08] samuelchong commented on #117
Use 'canada' as the region code.

[2018-09-10 04:16] #117 closed, assigned to nobody

[2019-02-06 05:34] samuelchong opened #118 "Request to add new datasource AddressList"
get addresslist by name and return its ID

[2019-02-06 05:35] samuelchong opened #119 "Request to add new resource Address"
Given an existing network domain and addresslist, I want add address to the addresslist. Support for IPv4 and IPv6, single IP, IP range, Network.

[2019-02-06 06:36] #119 closed, assigned to nobody

[2019-02-06 06:36] samuelchong commented on #119
fixed

[2019-02-06 06:36] samuelchong commented on #118
fixed

[2019-02-06 06:36] #118 closed, assigned to nobody

[2019-03-07 14:21] hasanhakkaev opened #127 "REQUEST-Consider adding possibility to specify ipv4 gateway"

[2019-04-01 23:15] samuelchong opened #128 "Terraform not comparing server state"
error when changing the “power_state” value to “start” if the server is already started?

Use Case: We need to be able to deploy servers in a powered off state and then power them up later in the pipeline
To do this we will just set the power_state for the resource to “disabled” initially and change it to “start” in another Terraform job later on in the pipeline

The first run of the pipeline ever

[2019-04-05 04:12] samuelchong commented on #128
fixed. It will be available in upcoming release.

[2019-04-05 04:20] #128 closed, assigned to samuelchong

[2019-06-05 11:56] hasanhakkaev opened #130 "HTTP 400 when trying to read PRIMARY NIC IP address"
So basically, when it tries to notify the NIC for IPv4 change, it passes an “empty” IPv4 which causes the error, so that mean it can’t read it in the first place.This is only for the primary NIC of the vm.The additional NIC do get the correct IP notice and I can see it in the logs.

Below is the log :

2019-06-05T13:38:02.252+0200 [DEBUG] plugin.terraform-provider-ddcloud.exe: 2019/06/05 13:38:02

[2019-06-06 00:48] samuelchong commented on #130
fixed. It will be available in next release.

[2019-06-06 03:14] samuelchong commented on #130
in the meantime, you could workaround it by removing any ipv4 attribute with an empty value.

[2019-07-12 10:12] muyiscoi opened #132 "Doesn't work with terraform v1.12"
Using the latest version of both terraform (1.12.4) and the dd-cloud provider (2.2.2).
After performing a `terraform init`, a `terraform plan` displays the following error

[code]

[2019-07-16 03:51] samuelchong commented on #130
Fixed in terraform-provider-ddcloud v2.2.2

[2019-07-16 03:51] #130 closed, assigned to nobody

[2019-07-19 09:57] oidz1234 opened #134 "How to get tags"
Hello,

I am trying to edit the resource_server.go file to skip server backup if a certain tag is set. This is because if your DD cloud instance does not support backups then terraform fails.

MY questions is is how to I actually read the tags, I have tried many things but the closest I have gotten is:
[code]
This does not seem to work.

Can anyone help me or point me in the right direction ?

Tha

[2019-07-19 14:25] hasanhakkaev commented on #134
Hi,

I had the same issue.I fixed it by adding OS names to "readServerBackupClientDownloadURLs"  function.
Tags would work also, but I just wanted it to work, didn't care about rest.See below for my kind of solution for this:

// Capture summary information for server backup.
func readServerBackupClientDownloadURLs(serverID string, data *schema.ResourceData, apiClient *compute.Client) error {
	log

[2019-07-22 00:07] oidz1234 commented on #134
Thanks, that is actually my current work around as well ! I was more looking for something that was configurable and then could be added to extend the current program.

[2019-07-26 05:50] samuelchong commented on #132
terraform v1.12 not supported at this stage. works required.

[2019-08-09 15:49] clgx-sm opened #136 "ddcloud_networkdomain.xxx: XML syntax error on line 4: invalid UTF-8"
Hi there,
I'm fairly new to Terraform but I have already successfully run some plans on VmWare infrastructures. However, trying to use dd-cloud-compute-terraform, I got an issue that I was not able to solve reading the documentation of searching in Google.

I tried to create a simple plan to spin up a new Network Domain:
[code]
The **terraform plan** works well, nonetheless the **terraform apply**

[2019-08-09 21:40] c-mckenzie commented on #136
Hi,

I think you'll find the problem is the problem is caused by the value you've set for the Network Domain Plan attribute as "STANDARD" isn't a valid option

The valid options for the plan attribute are "ESSENTIALS", "ADVANCED" or "ENTERPRISE"

The plan attribute is also optional so if simply don't include it then it should default to ESSENTIALS

[2019-08-12 11:24] stroebs opened #137 "PROVISIONEDIOPS disks not supported"
STANDARD, ECONOMY and HIGHPERFORMANCE are all supported but not PROVISIONEDIOPS. With the latest changes made by MCP that throttled disks to a slow crawl, we require the use of PROVISIONEDIOPS disks.

[2019-08-12 13:17] clgx-sm commented on #136
Hi @c-mckenzie and thank you for have taking some time to reply.
I just try using ENTERPRISE and unfortunately, the error message is the same.

Here the current **.tf** file:
[code]
I downloaded and used **terraform_0.11.14_linux_amd64** version for this test.

[2019-08-15 06:52] samuelchong commented on #137
Implementing this feature now. You will have it soon.

[2019-08-15 08:24] stroebs commented on #137
Thanks @samuelchong - I worked around it by building the module locally and modifying the classes to accept PROVISIONEDIOPS.

[2019-10-23 23:58] samuelchong commented on #137
IOPS implemented. Available in release terraform-provider-ddcloud v2.3.2

[2019-10-23 23:58] #137 closed, assigned to nobody

[2019-10-24 00:05] samuelchong commented on #114
Closing issue.  Looks like @tintoy has provided a fix from the comment above. @adrianvolpe pls reopen if you are still experiencing issue.

[2019-10-24 00:05] #114 closed, assigned to nobody

[2019-10-28 00:15] samuelchong commented on #136
Currently we are building against terraform 0.11.13.

[2019-11-18 23:15] adrianvolpe commented on #132
Hi. @samuelchong  Can you please give an update. It's November and Terraform is now up to v1.12.16.     I'd prefer to be using a version of 1.12.x instead of 1.11.x

[2019-11-21 03:02] samuelchong commented on #132
I will get to that when I have bandwidth.

[2019-11-24 01:27] nwright-nz commented on #132
@adrianvolpe - Theres an open PR for this now - but if you want to test it right now, feel free to build the provider yourself. I've run it through acceptance tests with no major issues.

[2019-11-28 11:04] lauragiles opened #141 "Re running a plan fails with 400 error on VyOS operating system VM"
Running a plan for the second time after spinning up 2 vm's running VyOS the plan fails with this error.

(HTTP 400 / REASON_554): Backup is not supported for Operating System DEBIAN6/64 (DEBIAN664)

Can we support this? is there a work around?

Other servers running ubuntu seem ok

[2019-12-06 07:20] adrianvolpe opened #142 "Restore existing behaviour vlan attached_vlan_gateway_addressing"
We have an existing terraform plan built around the 7 August 2019 which I tried to create a new environment from today 6 December 2019 and the terraform apply failed to work with the error:

[code]

After reading the documentation on this repository it is now compulsory to have the attribute `attached_vlan_gateway_addressing` with a value defined for a `dd_cloud.vlan` resource.  This breaks all ex

[2019-12-09 01:45] samuelchong commented on #142
Hi Adrian,

This features is introduced by request from some members of the group in order to used the detached vlan feature.  Unfortunately, since CaaS API v2.8, we need to make an explicit choice between Detached VLANs and Attached VLANs when deploying VLAN.

Extract from CaaS API documentation:
_... One of attachedVlan or detachedVlan **must be provided**. Each has a single child property descr

[2019-12-09 08:01] samuelchong commented on #142
I may have a solution to make it backward compatible. I'm working on a new build now. Give me a day or two.

[2019-12-09 10:48] liger1978 opened #143 "Version number missing from latest GitHub release tag"
For latest release v2.3.3, the version number is missing from the GitHub release tag

[2019-12-09 23:07] samuelchong commented on #143
it's there.

[2019-12-09 23:07] #143 closed, assigned to nobody

[2019-12-10 05:51] samuelchong commented on #142
Fix available in terraform-provider-ddcloud v2.3.3.
it's now backward compatible. if nothing is specified, it will default to Attached VLAN.

[2019-12-10 05:51] #142 closed, assigned to nobody

[2019-12-10 15:42] liger1978 commented on #143
v2.3.3 is marked as pre-release. Is this correct?

[2019-12-12 00:40] samuelchong commented on #143
Yes, I'm doing some testing and also waiting for feedback from other before making it official. So far, no issue has been reported. Feel free to use it and provide feedback. Thx.

[2020-01-09 02:20] samuelchong opened #144 "Upgrade go version to 1.13"
blocked by travisci support for go v1.13. gimme issue.
https://github.com/travis-ci/gimme/issues/178

[2020-01-09 23:37] samuelchong commented on #132
Thx @nwright-nz. I've released a beta build. v3.0.1.

[2020-01-09 23:37] #132 closed, assigned to nobody

[2020-04-08 01:24] samuelchong opened #146 "Conflict error when using cloudcontrol_endpoint instead of region"
provider "ddcloud" {
   username           = "terraform_sss"
   password           = "xxxxx"
   cloudcontrol_endpoint   = "https://api-au.dimensiondata.com"
}

config above resulting in conflict error of co-existence of region and cloudcontrol_endpoint despite region is not specified.

[2020-04-08 01:25] samuelchong commented on #146
fixed.

[2020-04-08 01:25] #146 closed, assigned to nobody

[2020-04-08 01:25] samuelchong commented on #146
fixed.

[2020-04-27 11:59] #127 closed, assigned to nobody

[2020-07-07 07:09] samuelchong opened #147 "DDcloud find image by name not working"
API backend has changed. It could no longer find OS image by name.

[2020-07-07 07:11] samuelchong commented on #147
Discovered issue with api version. Upgrade to use v2.9. OS could be found by name successfully.

[2020-07-07 07:11] #147 closed, assigned to nobody

[2020-07-08 01:19] samuelchong opened #148 "NAT rule creation failed due to NON RFC address"
Error: Error applying plan:

1 error occurred:
        * ddcloud_nat.test-vm-nat: 1 error occurred:
        * ddcloud_nat.test-vm-nat: Request to create NAT rule in network domain '660a4030-5051-4344-a5a3-f7cbf7c44832' failed with unexpected status code 400 (INVALID_INPUT_DATA): internalIp 152.110.111.17 is not permitted, as it is not in RFC 1918 Specification range.

[2020-07-08 01:19] samuelchong commented on #148
Updated to latest version of API. It's now supported

[2020-07-08 01:19] #148 closed, assigned to nobody